//COLORS
//$xxLiteGray:
$xLiteGray: rgba(250, 250, 250, 1);
$liteGray: rgba(200, 200, 200, 1);
$mediumGray: rgba(125, 125, 125, 1);
$darkGray: rgba(20, 20, 20, 1);
$googleGray: rgba(247,247,247, 1);
$hotPink: rgba(255, 0, 128, 1);
$red: rgba(231, 76, 60, 1);
$xLiteYellow: rgba(254,239,179, 0.05);
$liteYellow: rgba(254,239,179, 1);
$liteGreen: rgba(231, 246, 238, 1);
$green: rgba(0, 168, 88, 1);
$darkBlue: rgba(6, 44, 140, 1);
$liteGoogleBlue: rgba(156, 191, 246, 1);

$contentBackgroundColor: rgba(255, 255, 255,1);


$monarchBlue: rgba(0, 55, 103, 1);
$googleBlue:rgba(68,136,246,1);
$oduOnlineSecondaryBlue: rgba(9,114,169,1);
$oduOnlineTertiaryBlue: rgba(139,197,233, 1);


//MESSAGE COLORS
$urgent: $red;
$success: $green;
$disabled: $liteGray;
$warning: $liteYellow;

$font-color: $darkGray; 
$link-color: $hotPink;
$link-color-hover: $googleBlue;
$link-color-visited: $link-color;
