//COLORS
//$xxLiteGray:
$xLiteGray: rgba(250, 250, 250, 1);

$mediumGray: rgba(125, 125, 125, 1);

$googleGray: rgba(247,247,247, 1);
$hotPink: rgba(255, 0, 128, 1);
$red: rgba(231, 76, 60, 1);
$liteRed: rgba(255, 186, 186, 1);
$xLiteYellow: rgba(254,239,179, 0.05);
//$liteYellow: rgba(254,239,179, 1); old
$liteGreen: rgba(231, 246, 238, 1);
$green: rgba(0, 168, 88, 1);
$darkBlue: rgba(6, 44, 140, 1);
$liteGoogleBlue: rgba(156, 191, 246, 1);
$almostBlack: rgba(70, 70, 70, 1);

$contentBackgroundColor: rgba(255, 255, 255,1);


//COLORS verified in use
$liteGray: rgba(200,200,200,1); 			//#c8c8c8
$calendarLiteGray: rgba(204,204,204,1);		//#CCCCCC
$calendarMediumGray: rgba(170,170,170,1);	//#AAAAAA
$darkGray: rgba(20,20,20,1);				//#141414
$liteYellow: rgba(255,255,153,1);			//#ffff99
$monarchBlue: rgba(0,55,103,1);				//#003767
$pink: rgba(255,0,128,1); 					//#ff0080
$googleBlue: rgba(68,136,246,1);			//#4488f6
$white: rgba(255, 255, 255, 1);				 //#FFFFFF


//MESSAGE COLORS
$urgent: $red;
$errorText: $red;
$errorBackground: $liteRed;
$success: $green;
$disabled: $liteGray;
$warning: $liteYellow;

$font-color: $darkGray; 
$link-color: $hotPink;
$link-color-hover: $googleBlue;
$link-color-visited: $link-color;

//MISC COLORS
$current: $googleBlue;
$popUpBackground: $white;