//THESE ARE SITE WIDE SETTINGS, INDIVIDUAL WIDGETS MAY HAVE THEIR OWN SETTING FILE

//-----------------------
//COLORS
//-----------------------

//GRAYS
//$xxLiteGray:
$xLiteGray: rgba(250, 250, 250, 1);
$liteGray: rgba(200, 200, 200, 1);
$mediumGray: rgba(125, 125, 125, 1);
$calendarMediumGray: rgba(170,170,170,1);	//#AAAAAA
$darkGray: rgba(80,80,80,1);				//#141414
$googleGray: rgba(247,247,247, 1);
$almostBlack: rgba(5, 5, 5, 1);

//RAINBOW
$liteRed: rgba(255, 186, 186, 1);
$red: rgba(231, 76, 60, 1);
$orange: rgba(255, 102, 0, 1);
$liteYellow: rgba(255,253,217,1);			//#ffff99
$yellow: rgba(255,255,153,1);
$gold: rgba(245, 176, 65, 1);
$liteGreen: rgba(231, 246, 238, 1);
$green: rgba(0, 168, 88, 1);
$liteBlue: rgba(189,229,248, 1);			//#BDE5F8
$googleBlue: rgba(68,136,246,1);			//#4488f6
$liteGoogleBlue: rgba(68,136,246,.25);		//#4488f6
$monarchBlue: rgba(0,55,103,1);				//#003767
$darkBlue: rgba(6, 44, 140, 1);
$white: rgba(255, 255, 255, 1);				//#FFFFFF
$hotPink: rgba(255, 0, 128, 1); 

//CLT FLYER
$odu_red: #be1e2d;
$odu_orange: #f58220;
$odu_darkBlue: #002f4e;
$odu_mediumBlue: #2b3990;
$odu_briteBlue: $googleBlue;
$odu_purple: #662d91;
$odu_magenta: #e91f63;


//--------------------------------------
//COLOR ASSIGNMENTS
//--------------------------------------

$odu_contentBackgroundColor: $white;

//MESSAGE/ANNOUNCEMENT COLORS
$urgent: $red;
$error: $red;
$errorBackground: $liteRed;
$success: $green; 
$successBackground: $liteGreen;
$disabled: $liteGray;
$infoBackground: $liteBlue;
$info: $googleBlue;
$warningBackground: $liteYellow;
$warning: $gold;
$noticeBackground: $yellow;
$notice: $gold;
$announcementBackground: $liteYellow;

//PLE GENERAL
$current: $googleBlue;			//WFT IS THIS FOR?
$editBackground: $orange;
$font-color: $darkGray; 
$link-color: $googleBlue;
$link-color-hover: $odu_mediumBlue;
$link-color-visited: $googleBlue;
$popUpBackground: $white;
$contentBackgroundColor: $white;

//--------------------------------------
//FONT
//--------------------------------------
$font-stack: "Open Sans", Georgia;

//--------------------------------------
//ICONS
//--------------------------------------
$odu_iconAaq: "images/teapot.svg";
$odu_iconAdminTools: "images/breifcase.svg";
$odu_iconCalendar: "images/teapot.svg";
$odu_iconEdit: "images/teapot.svg";
$odu_iconFaculty: "images/teapot.svg";
$odu_iconGlossary: "images/contact-book.svg";
$odu_iconHome: "images/home.svg";
$odu_iconModule: "images/teapot.svg";
$odu_iconNotes: "images/teapot.svg";
$odu_iconPrint: "images/teapot.svg";
$odu_iconSearch: "images/teapot.svg";
$odu_iconSyllabus: "images/teapot.svg";
$odu_iconUser: "images/teapot.svg";
$odu_iconUpEvents: "images/clock.svg";



//--------------------------------------
//SIZES
//--------------------------------------
$indent: 25px;

$w_oduContent: 1000px;
$w_oduToolbox: 50px;
$w_oduWrapper: $w_oduContent + $w_oduToolbox + 10px;
$w_oduNavWrapper: $w_oduContent;

$w_oduCourseHomeLhs: 325px;
$w_oduCourseHomeMarginBetween: 25px;
//$w_oduCourseHomeHeaderFlyoutIcon: 20px;

$w_oduCourseHomeRhs: $w_oduWrapper - $w_oduCourseHomeLhs - $w_oduCourseHomeMarginBetween;

$w_oduProgressBar: 200px;	//not used?
$h_oduProgressBar: 10px;	//not used?

$w_navButtonWrapper: 50px;
$w_upEventsDate: 55px;
$w_upEventsTitle: $w_oduCourseHomeLhs - $w_upEventsDate - 60px;
//$w_oduCourseHomeButton: $w_oduCourseHomeRhs/3 - 10px;