@import "colors";
@import "fonts";

//10/9/2015
.aaq{
	//margin-top: 10px;
	width: 1000;
	background-color: white;
	//border: 1px solid red;

	
	&HeaderLinks{
		list-style: none;
	
			& a{
			text-decoration:underline;
			}

			&> li{
			display: inline-block;			
		}
	}
	
	&Answer{
		border-left: 2px solid black;
		margin-left: 20px;
		padding-left: 10px;
		margin-top: 10px;
	}
	
	&Post{
		&Title{
			font-weight: 600;
		}
	
		&Properties{
			list-style: none;
			font-size: .8rem;
			//line-height: 100%;
				& a{
					text-decoration:underline;
				}

				&> li{
					display: inline-block;			
				}
		}

		&Rating{
			padding-left: 20px;
			padding-right:20px;
			width: 100px;
		}

		&Endorsed{
			padding-left: 20px;
			color: $hotPink;
			width: 150px;	
		}
			
		&CommentCount{
			padding-left: 20px;
			width:150px;		
		}
		
		&er{  //ha ha Poster.
			padding-left: 50px;				
		}
		
		&DateTime{
			padding-left:50px;
			float: right;	
		}

	}
	
	&QuestionAndAnswerWrapper{
		border:1px solid black;
		padding: 10px;
		margin-top: 10px;
	}

}