//10/14/2015
.breadCrumbWrapper{
	display: block;
	width: $contentWidth;
	//border-bottom: 1px solid black;
	margin-top: 10px;
	margin-left: auto;
	margin-right: auto;
	//background-color: $xLiteGray;
	//box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
	
}


.breadCrumbs{
	list-style: none;
	padding-left: 10px;
	
	
	&a{
		text-decoration:underline;
	}

	&> li + li::before{
		content:" > ";
	}

	&> li{
		display: inline-block;
		margin-left: 0px;
	}
}
