main.odu_landing {
  width: 1063px;
  background: white; }
  main.odu_landing section {
    margin-top: 20px; }
    main.odu_landing section .odu_sectionH1 {
      background: #fafafa;
      font-size: 1.45rem;
      padding: 10px 10px 10px 0;
      margin-bottom: 0px !important;
      border: 1px solid #c8c8c8;
      font-weight: 600; }
      main.odu_landing section .odu_sectionH1.calendar::before, main.odu_landing section .odu_sectionH1.upEvents::before, main.odu_landing section .odu_sectionH1.moduleList::before {
        font-family: fontAwesome;
        background: #505050;
        color: white;
        min-width: 50px;
        padding: 11px;
        margin-right: 10px; }
      main.odu_landing section .odu_sectionH1.calendar::before {
        content: "\f073"; }
      main.odu_landing section .odu_sectionH1.upEvents::before {
        content: "\f017"; }
      main.odu_landing section .odu_sectionH1.moduleList::before {
        content: "\f114"; }
      main.odu_landing section .odu_sectionH1:hover {
        color: #4488f6; }
        main.odu_landing section .odu_sectionH1:hover.calendar::before, main.odu_landing section .odu_sectionH1:hover.upEvents::before, main.odu_landing section .odu_sectionH1:hover.moduleList::before {
          background: #4488f6; }
    main.odu_landing section .wrapper {
      margin-top: 0;
      border: 1px solid #c8c8c8;
      border-top: 0px; }
    main.odu_landing section#odu_iconListSection ul {
      list-style-type: none;
      display: table-row; }
      main.odu_landing section#odu_iconListSection ul li {
        display: table-cell;
        text-align: center; }
        main.odu_landing section#odu_iconListSection ul li a {
          color: #505050;
          font-family: fontAwesome;
          font-size: 2.5rem;
          display: inline-block;
          text-align: center;
          line-height: 85%; }
          main.odu_landing section#odu_iconListSection ul li a.assignment::before {
            content: "\f1fd"; }
          main.odu_landing section#odu_iconListSection ul li a.announcements::before {
            content: "\f0a1"; }
          main.odu_landing section#odu_iconListSection ul li a.faculty::before {
            content: "\f19c"; }
          main.odu_landing section#odu_iconListSection ul li a.glossary::before {
            content: "\f06b"; }
          main.odu_landing section#odu_iconListSection ul li a.notes::before {
            content: "\f24a"; }
          main.odu_landing section#odu_iconListSection ul li a.resources::before {
            content: "\f1bb"; }
          main.odu_landing section#odu_iconListSection ul li a.syllabus::before {
            content: "\f0f6"; }
          main.odu_landing section#odu_iconListSection ul li a span {
            font-family: "Open Sans", Georgia;
            font-size: .8rem;
            display: block; }
          main.odu_landing section#odu_iconListSection ul li a:hover {
            color: #4488f6;
            text-decoration: none; }
  main.odu_landing #odu_iconListSection {
    display: table;
    width: 100%;
    table-layout: fixed; }

#odu_landingMisc {
  vertical-align: bottom; }

.odu_landingLhs {
  width: 325px;
  float: left;
  margin-right: 25px -5; }

.odu_landingRhs {
  width: 713px;
  float: right; }

/*# sourceMappingURL=courseHome.css.map */
