/*
$yellow: rgba(255,255, 51,1);	
$liteYellow: rgba(255,255,162,1);
$xDarkYellow: rgba( 79, 79,  0,1);

$green: rgba( 92,235, 47,1);
$liteGreen: rgba(175,242,154,1);
$darkGreen: #35DB00;
$xDarkGreen: rgba( 16, 67,  0,1);

$red: rgba(255, 70, 51,1);	
$liteRed: #FFABA2;
$xDarkRed: rgba( 79,  8,  0,1);

$teal: rgba( 45,175,205,1);	
$liteTeal: #8FCEDD;
$darkTeal: rgba(  2,134,165,1);
$xDarkTeal: rgba(  1, 40, 49,1);
*/
.dash #leftHandSide {
  float: left;
  width: 40%;
  padding: 10px; }
.dash #rightHandSide {
  float: right;
  width: 55%;
  padding: 10px; }
.dash #footer {
  clear: both;
  margin-bottom: 10px;
  height: 1px; }
.dash ul {
  list-style: none; }
  .dash ul li {
    padding-top: 5px;
    padding-left: 5px; }
.dash h2 {
  color: #4488f6; }

.upcomingAssignments h2 {
  margin-top: 20px; }
.upcomingAssignments .assignment {
  border-bottom: 1px solid #505050;
  margin-bottom: 20px;
  height: 100px;
  overflow: hidden;
  /*& .readmore {
  	position: sticky; 
  	bottom: 0; 
  	left: 0;
  	width: 100%; 
  	text-align: center; 
  	margin: 0; 
  	padding: 10px 0; 
  	background-image: linear-gradient(to bottom, rgba(0,0,0,0), rgba(0,0,0,1));
  	}
  */ }
  .upcomingAssignments .assignment .dateWrapper {
    width: 50px;
    border: 1px solid #c8c8c8;
    text-align: center;
    float: left;
    top: 10px;
    margin-right: 10px;
    margin-bottom: 10px;
    position: relative; }
    .upcomingAssignments .assignment .dateWrapper h3 {
      font-size: 1.5rem;
      font-weight: 600;
      margin: 0;
      padding: 0;
      color: red; }
    .upcomingAssignments .assignment .dateWrapper h4 {
      font-size: .9rem;
      margin: 0;
      padding: 0; }
    .upcomingAssignments .assignment .dateWrapper h5 {
      font-size: .7rem;
      margin: 0;
      padding: 0; }
  .upcomingAssignments .assignment h3 {
    color: #505050;
    margin-top: 10px; }
  .upcomingAssignments .assignment p {
    font-size: .9rem;
    line-height: 125%; }

#courseContent {
  margin-left: 10px; }
  #courseContent a {
    color: black; }
    #courseContent a:hover {
      color: #4488f6;
      border-bottom: 1px dotted #4488f6; }
  #courseContent .moduleTitle {
    font-size: 1.4rem;
    cursor: pointer; }
  #courseContent .moduleTitle, #courseContent .topicTitle {
    display: inline-block; }
  #courseContent .checkMark {
    display: inline-block; }
  #courseContent .moduleContentList {
    border: 1px solid #c8c8c8;
    margin-bottom: 20px;
    margin-left: 25px; }
    #courseContent .moduleContentList ul ul {
      border: 0; }

.toggleBox {
  width: 90%;
  border: 1px solid #c8c8c8;
  margin: 10px;
  padding: 10px;
  display: inline-block; }
  .toggleBox h3 {
    font-size: 1.4rem;
    margin-top: 0;
    cursor: pointer; }
  .toggleBox a {
    color: #505050; }

/* div.fc-toolbar div.fc-center h2,
.fc-center h2{
	font-size: 1.2em; 
	color: $darkGray;
}

.fc-time {
	display: none; 
}

.fc-title, .fc-day-number {
	font-size: .7rem;
}

#eventContent{ 
	z-index: 999; 
}

.fc-toolbar{
	background: $xLiteGray;
}


.fc-prev-button{
	//border: 1px solid red;
} */

/*# sourceMappingURL=courseDashboard.css.map */
