@import "colors";
@import "fonts";

//********************************************************************************************
//GENERAL MATERIAL
//********************************************************************************************
.wrapper
{
	width: 1100px;
	margin: 160px auto 0 auto;
	
}

	#courseMaterial{
		float: left;
		width: 1000px;
		margin:0 auto;
		min-height: 250px;
	}

	.paper{
		box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
		padding: 10px;
		margin-bottom: 30px;
		background-color: $contentBackgroundColor;
	}

	#tools {
		float:right;
		width:50px;
		padding:10px;
	}

	#footer {
		clear:both;
		margin-bottom: 10px;
		height: 1px;
	}

	#tools{
		list-style-type:none;
		line-height: 90%;
		text-align: center;	
		vertical-align:top;
		
		& :hover{
			color: $hotPink;
		}		
				
		& li{
			margin-bottom: 20px;
			
			& a{
				color: $monarchBlue;
				font-size: .7rem;			
			}
		}
}

.askAQuestionOn{
	//background: green;
	border-left: 3px solid green;
	padding-left: 3px;
	
	
	& #aaqToolLink{
		color: green;
	}
	
}


.glossaryOn{
	border-left: 3px solid green;
	padding-left: 3px;
	
	& #glossaryToolLink{
		color: green;
	}
}
