//content layout
//|---------------
//|____top________|
//|				  |
//|	 landing      |
//|				  |
//|_______________|

//odu_wrapper
//	odu_landingContent
//		odu_landingLhs
//		odu_landingRhs
//odu_footer
@import "colors";
@import "fonts";
@import "sizes"; 


main.odu_landing{
	width: $w_oduWrapper;
	background: white;
	//border: 1px solid $red;
	//padding: 10px;

	& section{
		//border: 1px solid red;
		margin-top: 20px;
		
		& h1 {
			background: $xLiteGray;
			font-size: 1.4rem;
			padding: 10px 10px 10px 0;
			margin-bottom: 0px !important;
			border: 1px solid $liteGray;
			
			&.calendar,
			&.upEvents,
			&.syllabus,
			&.faculty,
			&.announcements,
			&.moduleList{
				&::before{
					font-family: fontAwesome;
					background: $darkGray;
					color: $white;
					min-width: 50px;
					//font-size: 2rem;
					padding: 11px;	//odd size, but needed to fill up the bar
					margin-right: 10px;
				}
			}
						
			&.calendar::before		{content: "\f073";}
			&.upEvents::before		{content: "\f017";}
			&.syllabus::before		{content: "\f02d";}
			&.faculty::before 		{content: "\f073";}
			&.announcements::before {content: "\f073";}
			&.moduleList::before	{content: "\f114";}
			
			&.syllabus,
			&.faculty,
			&.announcements{
				width: $w_oduLandingRhs/3 - 21px;	//again, another odd size to account for borders
				display: inline-block;
			}
			&.syllabus,
			&.faculty{
				margin-right: 10px;
			}
			

			
			&:hover{
				color: $googleBlue;
			
				&.calendar,
				&.upEvents,
				&.syllabus,
				&.faculty,
				&.announcements,
				&.moduleList{
					&::before{
						background: $googleBlue;
					}
				}
				
				
			}
		}
		& .wrapper{
			margin-top: 0;
			border: 1px solid $liteGray;
			border-top: 0px;
		}
		
	}
}


.odu_landingLhs{
	width: $w_oduLandingLhs;
	float:left;
	margin-right: $w_oduLandingMarginBetween -5;
	//border: 1px solid green;
}
.odu_landingRhs{
	width: $w_oduLandingRhs;
	float: right;
	//border: 1px solid blue;
}

