html {
  font-size: 82%; }

body {
  font-family: "Open-Sans", sans-serif;
  color: #141414;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  background-color: white; }

h1, h2, h3, h4, h5 {
  font-weight: normal; }

div#courseMenu ul {
  margin: 0;
  padding: 0; }

div#courseMenu ul li {
  padding-left: 0px; }

a {
  color: #ff0080;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #2ECC71;
    text-decoration: underline; }
  a:visited {
    color: #ff0080; }

pre {
  word-wrap: break-word; }

header {
  height: 60px;
  background-color: #fafafa; }

.listTopic a, .listSubTopic a, .breadCrumbs a {
  color: #1778a9; }
.listTopic a:hover, .listTopic a:visited:hover, .listSubTopic a:hover, .listSubTopic a:visited:hover, .breadCrumbs a:hover, .breadCrumbs a:visited:hover {
  color: #062c8c; }
.listTopic a:visited, .listSubTopic a:visited, .breadCrumbs a:visited {
  color: #8349ff; }

.urgent {
  color: #e74c3c; }

.success {
  color: #2ECC71; }

.disabled {
  color: #c8c8c8; }

.liteGray {
  color: #c8c8c8; }

.breadCrumbs {
  list-style: none;
  padding-left: 10px; }
  .breadCrumbs > li + li::before {
    content: " > "; }
  .breadCrumbs > li {
    display: inline-block;
    color: white; }
    .breadCrumbs > li a {
      text-decoration: underline;
      color: white; }
      .breadCrumbs > li a:hover, .breadCrumbs > li a:visited, .breadCrumbs > li a:visited:hover {
        color: white; }

.oduLogo {
  background-image: url("../images/oduOnlineLogo.png");
  background-repeat: no-repeat;
  background-size: 165px  62px;
  height: 62px;
  width: 165px;
  vertical-align: bottom;
  display: inline-block; }

.moduleProgress {
  padding: 0 20px 0 0;
  float: right; }

.contentWrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 10px;
  margin-top: 120px; }

.column50Percent {
  width: 49.5%;
  padding: 0;
  margin: 0;
  vertical-align: top;
  display: inline-block; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  margin: 0; }

.contentTitle, .paragraphTitle {
  margin-top: 20px; }

.paragraphTitle {
  font-weight: bold; }

.contentTitle {
  font-size: 1.4rem; }

.courseTitle {
  padding-left: 10px;
  color: #141414;
  display: inline-block; }

.top {
  position: fixed;
  width: 100%;
  top: 0;
  left: 0; }

nav {
  display: inline-block;
  width: 100%;
  background-color: #4488f6;
  margin-top: 45px;
  height: 40px; }

.navPrevious, .navNext {
  position: fixed;
  vertical-align: middle;
  top: 50%; }
  .navPrevious a, .navNext a {
    color: #141414; }
  .navPrevious a:hover, .navNext a:hover {
    color: #ff0080; }

.navPrevious {
  left: 5px; }

.navNext {
  right: 5px; }

.fa-caret-left, .fa-caret-right {
  display: none; }

.navWrapper {
  width: 99%;
  height: 100%; }

.moduleProgressWrapper {
  width: 110px;
  margin-right: 20px;
  float: right; }

.moduleProgressTitle {
  font-size: .8rem;
  text-align: center;
  width: 110px; }

.searchWrapper {
  display: inline-block;
  padding: 0 20px 0 20px; }

#search {
  background-image: url("../images/style1/search.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px);
  fill: #c8c8c8;
  height: 25px;
  width: 200px;
  margin: 5px 10px 0 10px;
  padding: 0 25px 0 5px;
  border: 1px solid #141414; }

.topLeftWrapper {
  display: inline-block;
  margin-left: 10px; }

.topRightWrapper {
  display: inline-block;
  float: right;
  position: relative;
  top: 3px;
  right: 10px;
  text-align: right;
  vertical-align: top;
  margin-right: 10px; }

.headIcon {
  padding: 0 7px 0 7px;
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: bottom;
  color: #c8c8c8; }
  .headIcon:hover {
    color: #4488f6; }

.courseMenuIcon {
  display: none; }

#courseMenu {
  padding-left: 10px;
  margin-bottom: 3px;
  display: inline-block;
  background-color: white;
  position: fixed;
  top: 60px;
  width: 100%;
  font-size: 1.1rem;
  border-bottom: 1px solid #c8c8c8; }
  #courseMenu ul {
    padding: 0;
    margin: 0; }
  #courseMenu ul, #courseMenu ul li, #courseMenu ul ul {
    display: inline-block;
    padding-right: 3px;
    padding-left: 3px;
    margin-right: 20px;
    padding-top: 5px; }
    #courseMenu ul a, #courseMenu ul li a, #courseMenu ul ul a {
      color: #141414; }
    #courseMenu ul a:hover, #courseMenu ul li a:hover, #courseMenu ul ul a:hover {
      border-bottom: 3px solid #4488f6;
      text-decoration: none; }

.clearHover:hover {
  background-color: white !important; }

.lhsMenuWrapper {
  display: inline;
  position: absolute; }

.toggleBox {
  width: 900px;
  border: 1px solid #c8c8c8;
  margin: 10px;
  padding: 10px;
  display: inline-block; }
  .toggleBox.collapsed {
    min-height: 30px; }
  .toggleBox.complete {
    background-color: #fafafa; }
    .toggleBox.complete:hover {
      background-color: rgba(254, 239, 179, 0.05); }
  .toggleBox.incomplete {
    background-color: #fafafa 0.5;
    margin-left: 30px; }
    .toggleBox.incomplete:hover {
      background-color: rgba(254, 239, 179, 0.05); }
  .toggleBox a {
    color: #141414; }
    .toggleBox a.boxTitle {
      font-size: 1.4rem; }

.boxWrapper {
  padding-top: 10px; }

.inline {
  display: inline; }

.videoAndTranscriptWrapper {
  margin: auto;
  text-align: center; }

.transcript {
  height: 450px;
  overflow-y: scroll;
  width: 394px;
  text-align: left;
  display: inline-block;
  border: 1px solid #7d7d7d; }

.cssChanger {
  background-color: white;
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid #141414;
  padding-left: 10px; }
  .cssChanger ul {
    list-style: none;
    padding: 0; }

.moduleContentList {
  margin-top: 10px;
  list-style: none;
  font-size: 1.1rem; }
  .moduleContentList li {
    padding-top: 3px; }
    .moduleContentList li ul {
      list-style: none; }

time {
  font-size: .8rem;
  font-style: italic;
  color: #1778a9; }

.fa-calendar, .fa-check-circle {
  padding-right: 3px; }

.hidden {
  visibility: hidden; }

.fa-angle-left, .fa-angle-right {
  color: #c8c8c8; }

@media screen and (max-width: 1200px) {
  .contentWrapper {
    width: 900px; } }
@media screen and (max-width: 1024px) {
  .contentWrapper, .toggleBox {
    width: 700px; }

  .breadCrumbs {
    font-size: .9rem; } }
@media screen and (max-width: 768px) {
  .contentWrapper, .toggleBox {
    width: 500px; }

  .courseTitle {
    font-size: 1.5rem;
    margin-left: 50px; }

  .topRightWrapper {
    display: none; }

  #courseMenu {
    position: fixed;
    top: 3px;
    left: 5px; }

  .breadCrumbs {
    display: none; } }
@media print {
  nav, #cssMenu, .lhsMenuWrapper, .moduleProgressWrapper,
  .topRightWrapper, .navWrapper {
    display: none; }

  iframe .breadcrumb, iframe #video-container, iframe .container-fluid {
    display: none; } }
#moduleProgressBar {
  background: #c8c8c8 none repeat scroll 0 0;
  border-radius: 5px;
  height: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  width: 100px; }

/*# sourceMappingURL=googleHigherEd.css.map */
