@import "colors";
@import "fonts";

//SIZES



//********************************************************************************************
//1. UNIVERSAL
//********************************************************************************************
//none





//********************************************************************************************
//2. DOCUMENT
//********************************************************************************************
//html





//********************************************************************************************
//3. META DATA
//********************************************************************************************
//none





//********************************************************************************************
//4. SECTIONING AND STRUCTURE
//********************************************************************************************
//body
//header
//nav
//p
//main
//article
//aside
//section
//pre
//blockquote
//figure
//figcaption
//address
//summary
//details


//*****************************************************************************
//5. HEADINGS
//*****************************************************************************
//h1
//h2
//h3
//hgrroup
//h4
//h5
//h6

//*****************************************************************************
//6. LISTS
//*****************************************************************************
//ul
//li
//ol
//dl
//dt
//dd
//menu
//menuitem


//*****************************************************************************
//7. MEDIA
//*****************************************************************************
//canvas
//object
//embed
//img
//audio
//video
//track
//map
//area
//iframe


//*****************************************************************************
//8. FORMS
//*****************************************************************************
//form
//fieldset
//legend
//label
//input
//button
//select
//optgroup
//option
//datalist
//textarea
//output




//*****************************************************************************
//9. TABLES
//*****************************************************************************
//table
//caption
//colgroup
//col
//thead
//tfoot
//tbody
//tr
//th
//td


//*****************************************************************************
//10. PHRASING
//*****************************************************************************
//a
//strong
//em
//b
//i
//u
//s
//sup
//sub
//small
//abbr
//dfn
//mark
//del
//ins
//q
//cite
//data
//progress
//time
//meter
//code
//var
//samp
//kbd
//keygen
//bdi
//bdo
//ruby
//rt
//rp
//span



//*****************************************************************************
//11. MISC
//*****************************************************************************
//hr
//br


//*****************************************************************************
//12. ATTRIBUTES
//*****************************************************************************




//*****************************************************************************
//13. ONE HIT WONDERS
//*****************************************************************************


//*****************************************************************************
//14. SPECIFIC TO THIS PAGE OR APP
//*****************************************************************************
.odu_msg{
	&Success,
	&Error,
	&Info,
	&Warning{
		padding: 1rem;
		margin: 1rem 0;
		min-height:  1.3rem;
		color: black;
	}
	
	&Success:before,
	&Error:before,
	&Info:before,
	&Warning:before{
		font-family:FontAwesome;
		font-style: normal;
		font-weight: 400;
		display: inline-block;
		font-size: 2rem;
		width:1rem;
		margin-right: 2rem;
		text-align:center;
		font-variant:normal;
		text-transform:none;
		line-height:1rem;
		vertical-align: middle;
		margin-bottom: .5rem;
	}

	&Success{
		background: $liteGreen;
		border: 1px solid $success;
		
		&:before{
			color: $success;
			content: '\f058';
		}
	}

	&Info{
		background: $infoBackground;
		border: 1px solid $googleBlue;
		
		&:before{
			color: $googleBlue;
			content: '\f05a';
		}
	}

	&Error{
		background: $errorBackground;
		border: 1px solid $error;
		
		&:before{
			color: $error;
			content: '\f057';
		}
	}
	
	&Warning{
		background: $warningBackground;
		border: 1px solid $warning;
		
		&:before{
			color: $warning;
			content: '\f06a';
		
		}
	}
	
	
	&Close{
		//font-family:FontAwesome;
		font-style: normal;
		font-weight: 400;
		display: inline-block;
		font-size: 1rem;
		width:1rem;
		height: 1rem;
		margin-right: .5rem;
		text-align:center;
		font-variant:normal;
		text-transform:none;
		line-height:1rem;
		vertical-align: middle;
		margin-bottom: .5rem;
		float: right;
		color: black;
		border: 1px solid black;
		content: 'X';	
	}
	
}

//***********************************************************************************************

.messageBoxSuccess	//this is leftover.  need to double check to see if its used anywhere
{
	border: 1px solid $green;
	background-color: $liteGreen;
	color: $green;
	width: 100%;
	padding-left: 10px;
	//margin-top: 20px;
	margin-bottom: 10px;
}