/*
$yellow: rgba(255,255, 51,1);	
$liteYellow: rgba(255,255,162,1);
$xDarkYellow: rgba( 79, 79,  0,1);

$green: rgba( 92,235, 47,1);
$liteGreen: rgba(175,242,154,1);
$darkGreen: #35DB00;
$xDarkGreen: rgba( 16, 67,  0,1);

$red: rgba(255, 70, 51,1);	
$liteRed: #FFABA2;
$xDarkRed: rgba( 79,  8,  0,1);

$teal: rgba( 45,175,205,1);	
$liteTeal: #8FCEDD;
$darkTeal: rgba(  2,134,165,1);
$xDarkTeal: rgba(  1, 40, 49,1);
*/
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003189}}
.odu_msgSuccess, .odu_msgError, .odu_msgInfo, .odu_msgWarning {
  padding: 1rem;
  margin: 1rem 0;
  min-height: 1.3rem;
  color: black; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003199}}
.odu_msgSuccess:before, .odu_msgError:before, .odu_msgInfo:before, .odu_msgWarning:before {
  font-family: FontAwesome;
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  font-size: 2rem;
  width: 1rem;
  margin-right: 2rem;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1rem;
  vertical-align: middle;
  margin-bottom: .5rem; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003218}}
.odu_msgSuccess {
  background: #e7f6ee;
  border: 1px solid #00a858; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003222}}
  .odu_msgSuccess:before {
    color: #00a858;
    content: '\f058'; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003228}}
.odu_msgInfo {
  background: #bde5f8;
  border: 1px solid #4488f6; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003232}}
  .odu_msgInfo:before {
    color: #4488f6;
    content: '\f05a'; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003238}}
.odu_msgError {
  background: #ffbaba;
  border: 1px solid #e74c3c; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003242}}
  .odu_msgError:before {
    color: #e74c3c;
    content: '\f057'; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003248}}
.odu_msgWarning {
  background: #ffff99;
  border: 1px solid #f5b041; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003252}}
  .odu_msgWarning:before {
    color: #f5b041;
    content: '\f06a'; }
@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003260}}
.odu_msgClose {
  font-style: normal;
  font-weight: 400;
  display: inline-block;
  font-size: 1rem;
  width: 1rem;
  height: 1rem;
  margin-right: .5rem;
  text-align: center;
  font-variant: normal;
  text-transform: none;
  line-height: 1rem;
  vertical-align: middle;
  margin-bottom: .5rem;
  float: right;
  color: black;
  border: 1px solid black;
  content: 'X'; }

@media -sass-debug-info{filename{font-family:file\:\/\/C\:\/xampp\/htdocs\/_mockUp\/css\/messages\.scss}line{font-family:\00003285}}
.messageBoxSuccess {
  border: 1px solid #00a858;
  background-color: #e7f6ee;
  color: #00a858;
  width: 100%;
  padding-left: 10px;
  margin-bottom: 10px; }

/*# sourceMappingURL=messages.css.map */
