@import "colors";
@import "fonts";
//*****************************************************************************
//Modal
//*****************************************************************************
.ui-dialog{
	z-index: 800;
	background: white;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	border: 1px solid $googleBlue;

	&-titlebar {
		background: $googleBlue;	
	}

	&-title{
	    text-transform:capitalize;
	    padding-left: 10px;
	    
	    color: white;
	    text-weight: 600;
	    //visibility: hidden;
	    
	}
	
	
	&-titlebar-close{
		float:right;
		margin: 5px;

	}

	&-content{
		//border: 1px solid purple;
	}

	&-buttonpane{
		//border: 1px solid yellow;
	}

	&-buttonset{
		//border: 1px solid black;
	}	
}


.modalContentWrapper{
	padding: 20px;
	background: white;
	
	h3 {
		display: inline-block;
		text-transform:capitalize;	
		margin-top: 0;
	}
	
	& .icon {
		display: inline-block;
	}
	
	h5 {
		display: inline-block;
		font-weight: 600;
		
	}
	
	& .eventDateTime{
		display: inline-block;
		color: $mediumGray;
	}
	
	& .assignmentDeliverables {
		display: inline-block;
		color: $mediumGray;
	}
	
	p{
		padding-top: 20px;
	
	}
}
