html {
  font-size: 95%; }

body {
  font-family: "Open-Sans", sans-serif;
  color: #141414;
  margin: 0;
  padding: 0;
  line-height: 1.5; }

a {
  color: #1778a9;
  text-decoration: underline; }
  a:hover, a:visited:hover {
    color: #1778a9;
    text-decoration: none; }
  a:visited {
    color: #1778a9;
    text-decoration: none; }

pre {
  word-wrap: break-word; }

header {
  height: 50px;
  background-color: #0d70a7;
  border-bottom: 8px solid #003767; }

.listTopic a, .listSubTopic a {
  color: #1778a9;
  text-decoration: none; }
.listTopic a:hover, .listTopic a:visited:hover, .listSubTopic a:hover, .listSubTopic a:visited:hover {
  color: #082b47; }
.listTopic a:visited, .listSubTopic a:visited {
  color: #1778a9; }

.urgent {
  color: #e74c3c; }

.success {
  color: #2ECC71; }

.disabled {
  color: #c8c8c8; }

.liteGray {
  color: #c8c8c8; }

.breadCrumbs {
  list-style: none;
  padding-left: 10px; }
  .breadCrumbs > li + li::before {
    content: " > "; }
  .breadCrumbs > li {
    display: inline-block; }

.moduleProgress {
  padding: 0 20px 0 0;
  float: right; }

.contentWrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.column50Percent {
  width: 49.5%;
  padding: 0;
  margin: 0;
  vertical-align: top;
  display: inline-block; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  margin: 0; }

.contentTitle, .paragraphTitle {
  margin-top: 20px; }

.courseTitle {
  padding-left: 10px;
  color: white;
  display: inline-block; }

.navPrevious, .navNext {
  position: fixed;
  vertical-align: middle;
  top: 50%; }
  .navPrevious a, .navNext a {
    color: #141414; }
  .navPrevious a:hover, .navNext a:hover {
    color: #0d70a7; }

.navPrevious {
  left: 5px; }

.navNext {
  right: 5px; }

.fa-angle-left, .fa-angle-right {
  display: none; }

.navWrapper {
  width: 99%;
  height: 100%; }

.moduleProgressWrapper {
  width: 110px;
  margin-right: 20px;
  float: right; }

.moduleProgressTitle {
  font-size: .8rem;
  text-align: center;
  width: 110px; }

/*.oduIcon{
	background-image: url("../images/oduOnlineLogo.png");
	background-repeat: no-repeat;
	background-size: 165px  62px;
	height: 62px;
	width: 165px;
	vertical-align: bottom;
}
*/
.searchWrapper {
  display: inline-block;
  padding: 0 20px 0 20px; }

#search {
  background-image: url("../images/style1/search.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px);
  fill: #c8c8c8;
  height: 25px;
  width: 200px;
  margin: 5px 10px 0 10px;
  padding: 0 25px 0 5px;
  border: 1px solid #141414; }

.topLeftWrapper {
  display: inline-block;
  margin-left: 10px; }

.topRightWrapper {
  display: inline-block;
  float: right;
  position: relative;
  top: 3px;
  right: 10px;
  text-align: right;
  vertical-align: top;
  margin-right: 10px; }

.headIcon {
  padding: 0 7px 0 7px;
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: bottom;
  color: white; }
  .headIcon:hover {
    color: #FFe5b6; }

#courseMenu {
  padding: 0;
  margin: 0;
  border: 0;
  font-size: 0.9rem; }
  #courseMenu ul, #courseMenu ul li, #courseMenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0; }
  #courseMenu ul {
    position: relative;
    z-index: 397;
    width: 35px;
    background: white; }
    #courseMenu ul a {
      color: black; }
      #courseMenu ul a:visited {
        color: black;
        text-decoration: none; }
      #courseMenu ul a:hover {
        color: #0d70a7; }
      #courseMenu ul a:active {
        color: black; }
    #courseMenu ul li {
      min-height: 1px;
      line-height: 1em;
      vertical-align: middle;
      padding: 7px 10px;
      color: #000; }
      #courseMenu ul li:hover {
        position: relative;
        z-index: 399;
        cursor: default;
        background: #fafafa;
        color: black; }
        #courseMenu ul li:hover > ul {
          visibility: visible; }
    #courseMenu ul ul {
      visibility: hidden;
      position: absolute;
      top: 10px;
      left: 99%;
      z-index: 398;
      width: 100px;
      border: 1px solid #c8c8c8;
      margin-left: 25px; }

.clearHover:hover {
  background-color: white !important; }

.courseMenuIcon {
  padding: 0;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
  background-image: url("../images/style1/courseMenu.svg"); }

.lhsMenuWrapper {
  display: inline;
  position: absolute; }

.toggleBox {
  width: 900px;
  border: 1px solid #c8c8c8;
  border-radius: 5px;
  margin: 10px;
  padding: 10px;
  display: inline-block; }
  .toggleBox:hover, .toggleBox:visited:hover {
    box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
    background-color: rgba(250, 250, 250, 0.1); }
  .toggleBox.collapsed {
    min-height: 30px; }
  .toggleBox.incomplete {
    margin-left: 40px; }
  .toggleBox a {
    color: #141414; }
    .toggleBox a.boxTitle {
      font-size: 1.4rem;
      text-decoration: none; }

.boxWrapper {
  padding-top: 20px; }

.inline {
  display: inline; }

.videoAndTranscriptWrapper {
  margin: auto;
  text-align: center; }

.transcript {
  height: 450px;
  overflow-y: scroll;
  width: 394px;
  text-align: left;
  display: inline-block;
  border: 1px solid #7d7d7d; }

.cssChanger {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  border-radius: 5px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid #141414;
  padding-left: 10px; }
  .cssChanger ul {
    list-style: none;
    padding: 0; }

.moduleContentList {
  margin-top: 10px;
  list-style: none;
  font-size: 1.1rem; }
  .moduleContentList li {
    padding-top: 3px; }
    .moduleContentList li ul {
      list-style: none; }
  .moduleContentList a {
    text-decoration: none; }
    .moduleContentList a:hover {
      text-decoration: underline; }

time {
  font-size: 1rem; }

.fa-calendar, .fa-check-circle {
  padding-right: 3px; }

.hidden {
  visibility: hidden; }

@media screen and (max-width: 1200px) {
  .contentWrapper {
    width: 800px; } }
@media screen and (max-width: 800px) {
  .contentWrapper {
    width: 600px; } }
nav {
  display: inline-block; }

.oduLogo {
  display: none; }

@media print {
  nav, #cssMenu, .lhsMenuWrapper, .moduleProgressWrapper,
  .topRightWrapper, .navWrapper {
    display: none; }

  iframe .breadcrumb, iframe #video-container, iframe .container-fluid {
    display: none; } }
#moduleProgressBar {
  background: #c8c8c8 none repeat scroll 0 0;
  border-radius: 5px;
  height: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  width: 100px; }

/*# sourceMappingURL=oduColors.css.map */
