@import "colors";
@import "fonts";



//SIZES
$contentWidth: 1000px;
$navWrapperWidth: 1000px;


//********************************************************************************************
//1. UNIVERSAL
//********************************************************************************************
//none





//********************************************************************************************
//2. DOCUMENT
//********************************************************************************************
//***10-8-2015***
html{
	font-size: 87%;
	overflow-y: scroll;
}





//********************************************************************************************
//3. META DATA
//********************************************************************************************
//none





//********************************************************************************************
//4. SECTIONING AND STRUCTURE
//********************************************************************************************
//***10-8-2015***
body{
	font-family: $font-stack;
	color:	$font-color;
	//border: 1px solid red;
	line-height: 150%;
	margin: 0;
	padding: 0;
	background-color: $googleGray;
	height: 100%;
}

//header

//nav

//***10-8-2015***
p{
	margin-bottom: 10px;
}

//main
//article
//aside
//section
//pre
//blockquote
//figure
//figcaption
//address
//summary
//details


//********************************************************************************************
//5. HEADINGS
//********************************************************************************************


//***10-8-2015***
h1{
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 10px;
}

//***11-9-2015***
h2{
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 10px;
}

//?
h3{
	font-size: 1.4rem;
	font-weight: 500;
	margin-top: 20px;		
}

//hgrroup
//h4
//h5
//h6

//********************************************************************************************
//6. LISTS
//********************************************************************************************
//***10/12/2015***
ul{
	list-style-type:disc;
}

//***10/12/2015***
li{
	margin-left: 10px;	
}

//ol
//dl
//dt
//dd
//menu
//menuitem


//********************************************************************************************
//7. MEDIA
//********************************************************************************************
//canvas
//object
//embed
//img
//audio
//video
//track
//map
//area
//iframe


//********************************************************************************************
//8. FORMS
//********************************************************************************************
//form
//fieldset
//legend
//label
//input
//button
//select
//optgroup
//option
//datalist
//textarea
//output




//********************************************************************************************
//9. TABLES
//********************************************************************************************
//table
//caption
//colgroup
//col
//thead
//tfoot
//tbody
//tr
//th
//td


//********************************************************************************************
//10. PHRASING
//********************************************************************************************
//***?***
a{	color: $link-color;
	text-decoration: none;
	transition: all 0.25s ease;

	&:hover, &:visited:hover{
		color: $link-color-hover;
		text-decoration: underline dotted;
	}
	
	&:visited{
		color: $link-color-visited;
	}
}

//strong
//em
//b
//i
//u
//s
//sup
//sub
//small
//abbr
//dfn
//mark
//del
//ins
//q
//cite
//data
//progress
//time
//meter
//code
//var
//samp
//kbd
//keygen
//bdi
//bdo
//ruby
//rt
//rp
//span

//********************************************************************************************
//11. MISC
//********************************************************************************************
//hr
//br


//********************************************************************************************
//12. ATTRIBUTES
//********************************************************************************************
.boxWrapper{
	padding-top: 10px;
	vertical-align: top;
	align:top;
}

.blockCheckMark{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}

//**11-09-2015***
.breadCrumbWrapper{
	width: 98%;
	display: block;
	position: fixed;
	top: 105px;
	padding-top:10px;
	//border-bottom: 1px solid black;
	background: $googleGray;
}


.breadCrumbs{
	list-style: none;
	padding-left: 10px;
	
	
	&a{
		text-decoration:underline;
	}

	&> li + li::before{
		content:" > ";
	}

	&> li{
		display: inline-block;
		margin-left: 0px;
	}
}


//***11-09-2015***
.contentWrapper{
	width: $contentWidth;
	margin:0 auto;
	background-color: $contentBackgroundColor;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-top: 130px;
	padding: 10px;
}



//***10-7-2015***
.moduleList{
	list-style: none;
	& a {
		color:black;
		
		&:hover{
			text-decoration:underline;
			color: $googleBlue;
		}
	}
	& li{
		padding-top: 3px;
		padding-left: 20px;
		& ul {
			list-style: none;
			padding-left: 20px;
		}
	}
}




//***11-12-2015***
#nav {
	width:100%; 
    display:block;
    //background-color: $googleBlue;
	
	ul	{
		
		padding-right: 5px;
		margin: 0;
		list-style: none;
		position: relative;
		text-align: right;   
		
		&:After {
			content: "";
			display:block;
			clear:both;
		}
		
		li {
			display:list-item;
			list-style: none;
			float:right;
			color: $monarchBlue;

			a {
				display:block;
				//padding:15px 30px;  
				color:$monarchBlue;
				text-decoration:none;
				text-align:center;
				
				&:hover { 
					background-color: $liteGoogleBlue; 
				}
			}
			&:hover > ul {
				display: list-item;
			}
		}
		
		 ul {
			display: none;
			position: absolute; 
			top: 30px;
			padding: 5px 5px 5px 0;
			background: white;
			border: 1px solid $xLiteGray;
			box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
			
			li {
				width:110px;
				float:none;
				position: relative;
				border-bottom:none;
				padding-left: 0;
				
				a {
					padding-left: -1px;
					text-align:left;
					font-size: .9rem;  
				}
			}
		}
	}
}



.oduOnlineLogo{
	background-image: url("../images/oduOnlineLogo.svg");
	background-color: white;
	background-repeat: no-repeat;
	background-size: 140px 75px;
	padding: 3px;
	height: 75px;
	width: 140px;
	display:inline-block;
	float: left;
	margin: -30px 10px 0 0;
	//border: 1px solid red;
}

//***10-12-2015***
.pleLogo{
	background-image: url("../images/pleLogo.svg");
	background-color: white;
	background-repeat: no-repeat;
	background-size: 75px 75px;
	padding: 3px;
	height: 75px;
	width: 75px;
	display:inline-block;
	float: left;
	margin: 0 10px 0 10px;
}

//***10-8-2015***
.top{
	position:fixed;
	width:100%;
	background-color: white;
	top: 0;
	left: 0;
	height: 95px;
	vertical-align: top;
	//border: 1px solid black;
	z-index: 900;
	border-bottom: 10px solid $monarchBlue;
	//border-top: 30px solid rgba(23,119,167, 1);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
	
	
	h1{
		display: inline-block;
		a{
			color: $darkGray;
			&:hover{
				color: $googleBlue;
				text-decoration: underline;
			}
		}
	}
	
	h2{
		margin: 0;
		padding: 0;
		display: block;
		font-size: 1rem;
		color: $darkGray;
		
		a{
			color: $darkGray;
			&:hover{
				color: $googleBlue;
				text-decoration: underline;
			}
		}
		
	}
	
	&Wrapper{
		width: $contentWidth;
		//background-color: white;
		//border-bottom: 5px solid $liteGoogleBlue;
		padding: 0;
		//margin-top: -30px;
		//height: 110px;
		//margin-left: auto;
		//margin-right:auto;
		margin: 0 auto 0 auto;
		
	}
	
}


//**11-1-2015
.md-{
		&s{
			font-size: 1rem;
		}

		&m{
			font-size: 1.3rem;
		}
		
		&l{
			font-size: 2rem;
		}
		
		&xl{
			font-size: 3rem;
		}
		
		&h{
			font-size: 4rem;
		}
		
		&e{
			font-size: 6rem;
		}
	}


#fakeEditor{
	display: none
}


.editingMode{
	border: 10px solid red;
	
	& .top {
		border-top: 10px solid red;
		right: 10px;
		left: 10px;
		width:99%;
	}
	
	& .breadCrumbWrapper{
		top: 113px;
	}
	
	& #editIconGroup{
		background: red;
		padding:3px;
	}
	
	& #editToolLink{
		color:white;
	}
	
	& #chatLink, & #feedbackToolLink, & #aaqToolLink, & #printToolLink,
	& #aaqLink, & #helpLink, #notesLink,
	{
		color: $liteGray;
		cursor: not-allowed;
		pointer-events: none;	
	}
	
	& #fakeEditor{
		display: inline-block;
	}
	
	
	& #ask{
		visibility: hidden;
		display: none;
	}
	
	& #aaqIconGroup{
		border: 0;
		padding: 0;
		color: $liteGray;
	}
	
}

.disabledEditingLink{
	color: $liteGray !important;
	cursor: not-allowed;
	pointer-events: none;
}




//*****************************************************************************
//One hit wonders
//*****************************************************************************
//10/15/2015
.urgent{
	color: $urgent;
}

//10/15/2015
.success{
	color: $success;
}

.disabled{
	color: $disabled !important; 
	cursor: "not-allowed" !important;
}

.liteGray{
	color: $liteGray;
}

.current{
	color: $googleBlue;
}

//10/15/2015
.hidden{
	visibility: hidden;
}

.animatedHidden{
	visibility: hidden;
    -webkit-transition:0.4s;
    -moz-transition:0.4s;
    -ms-transition:0.4s;
    -o-transition:0.4s;
    transition:0.4s;
}

//?
.inline, .displayInline{
	display: inline;
}

//?
.displayInlineBlock{
	display: inline-block;
}

//?
.displayBlock{
	display: block;
}

//?
.displayNone{
	display: none;
}

.floatRight{
	float: right;
}

.floatLeft{
	float: left;
}







