html {
  font-size: 87%;
  overflow-y: scroll; }

body {
  font-family: "Open Sans", Georgia;
  color: #050505;
  line-height: 150%;
  margin: 0;
  padding: 0;
  background: white;
  height: 100%;
  margin-top: 80px; }

nav {
  width: 100%;
  display: block; }
  nav ul {
    padding-right: 5px;
    margin: 0;
    list-style: none;
    position: relative;
    text-align: right; }
    nav ul:After {
      content: "";
      display: block;
      clear: both; }
  nav li {
    display: list-item;
    list-style: none;
    float: right;
    color: #003767;
    height: 35px; }
    nav li a {
      display: block;
      color: #003767;
      text-decoration: none;
      text-align: center; }
      nav li a:hover {
        text-decoration: none; }

p {
  margin-bottom: 10px; }

h1, h2, h3, h4, h5, h6 {
  font-weight: 500;
  margin: 10px 0 10px 0; }

h1 {
  font-size: 2.2rem;
  font-weight: 600; }

h2 {
  font-size: 1.8rem; }

h3 {
  font-size: 1.4rem; }

h4 {
  font-size: 1.2rem; }

h5 {
  font-size: 1.0rem;
  font-weight: 600; }

h6 {
  font-size: .9rem;
  font-weight: 600; }

ul {
  list-style-type: disc; }

li {
  margin-left: 25px; }

dt {
  font-weight: 600;
  padding-right: 2px; }

dd {
  margin-bottom: 10px; }

a {
  color: #4488f6;
  text-decoration: none;
  transition: all 0.125s ease; }
  a:hover, a:visited:hover {
    color: #2b3990;
    text-decoration: underline; }
  a:visited {
    color: #4488f6; }

strong {
  font-weight: 600; }

/*
.boxWrapper{
	padding-top: 10px;
	vertical-align: top;
	align:top;
}

.blockCheckMark{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}
*/
.clearFix {
  float: none;
  clear: both; }

.urgent {
  color: #e74c3c; }

.success {
  color: #00a858; }

.disabled {
  color: #c8c8c8 !important;
  cursor: "not-allowed" !important; }

.liteGray {
  color: #c8c8c8; }

.current {
  color: #4488f6; }

.displayHidden,
.hidden {
  visibility: hidden; }

.inline, .displayInline {
  display: inline; }

.displayInlineBlock {
  display: inline-block; }

.displayBlock {
  display: block; }

.displayNone {
  display: none; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.marginBottom20 {
  margin-bottom: 20px; }

.googleBlue {
  color: #4488f6; }

.errorMsg {
  color: #e74c3c; }

.red {
  color: #be1e2d; }

.orange {
  color: #f58220; }

.yellow {
  color: #ffff99; }

.liteGreen {
  color: #d4fecc; }

.green {
  color: #3bb60b; }

.darkGreen {
  color: #0c6006; }

.liteBlue {
  color: #bde5f8; }

.darkBlue {
  color: #002f4e; }

.mediumBlue {
  color: #2b3990; }

.briteBlue {
  color: #4488f6; }

.purple {
  color: #662d91; }

.magenta {
  color: #e91f63; }

.hotPink {
  color: #ff0080; }

.redBkg {
  background: #be1e2d; }

.orangeBkg {
  background: #f58220; }

.yellowBkg {
  background: #ffff99; }

.liteGreenBkg {
  background: #d4fecc; }

.greenBkg {
  background: #3bb60b; }

.darkGreenBkg {
  background: #0c6006; }

.liteBlueBkg {
  background: #bde5f8; }

.darkBlueBkg {
  background: #002f4e; }

.mediumBlueBkg {
  background: #2b3990; }

.briteBlueBkg {
  background: #4488f6; }

.purpleBkg {
  background: #662d91; }

.magentaBkg {
  background: #e91f63; }

.hotPinkBkg {
  background: #ff0080; }

.odu_pageTitle {
  padding: 25px 10px 25px 0;
  border-bottom: 2px solid #7d7d7d;
  margin: 0; }

.odu_asteriskedNote {
  font-size: .9rem;
  font-style: italic; }

.odu_breadCrumbWrapper {
  width: inherit;
  display: block;
  z-index: 899; }

.odu_breadCrumbs {
  list-style: none;
  width: auto; }
  .odu_breadCrumbs a {
    text-decoration: none; }
  .odu_breadCrumbs > li + li::before {
    content: " > "; }
  .odu_breadCrumbs > li {
    display: inline-block;
    margin-left: 0px; }

.oduOnlineLogo {
  background-image: url("images/oduOnlineLogo.svg");
  background-color: white;
  background-repeat: no-repeat;
  background-size: 140px 45px;
  padding: 3px;
  height: 45px;
  width: 140px;
  display: inline-block;
  float: left;
  margin: 0 30px 0 0; }

.odu_top {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  vertical-align: top;
  z-index: 100;
  border-bottom: 5px solid #003767; }
  .odu_top h1 {
    display: inline-block; }
  .odu_top a {
    color: #505050; }
    .odu_top a:hover {
      color: #4488f6;
      text-decoration: underline; }
  .odu_top h2 {
    margin-left: 50px;
    padding: 0;
    display: block;
    font-size: 1rem;
    color: #505050; }
    .odu_top h2 span {
      margin-right: 50px; }
    .odu_top h2 a {
      text-decoration: underline; }
      .odu_top h2 a:hover {
        color: #4488f6;
        text-decoration: underline; }
  .odu_topWrapper {
    width: 1000px;
    padding: 0;
    margin: 0 auto 0 auto; }

.odu_progressNavBar {
  width: auto;
  padding-bottom: 10px;
  padding-top: 5px;
  margin: 0;
  width: 100%;
  height: 5px;
  display: table;
  font-size: 0; }
  .odu_progressNavBar a {
    display: table-cell;
    background: #00a858;
    margin-right: 3px;
    border-right: 2px solid white;
    min-width: 10px;
    transition: all .125s ease;
    height: 5px; }
    .odu_progressNavBar a.new {
      background: #dcdcdc; }
      .odu_progressNavBar a.new:hover {
        background: #c8c8c8; }
    .odu_progressNavBar a:hover {
      background: #4488f6; }

.odu_videoCenter {
  margin-right: auto;
  margin-left: auto;
  margin-bottom: 20px; }
.odu_videoSize640 {
  width: 640px; }
.odu_videoSize720 {
  width: 720px; }
.odu_videoSize800 {
  width: 800px; }

.odu_wrapper {
  width: 1000px;
  margin: 0 auto;
  padding: 5px; }

.odu_toolbox {
  background: none;
  width: 50px;
  padding-top: 0;
  margin: 0;
  float: left; }

.odu_toolboxList {
  text-align: center;
  list-style: none;
  padding: 0;
  margin: 0 .5rem 0 0; }
  .odu_toolboxList ul {
    display: block;
    margin: 0;
    text-align: center; }
  .odu_toolboxList li {
    margin: 0;
    padding-bottom: 1.2rem;
    display: block;
    width: 45px; }
    .odu_toolboxList li:last-child {
      padding-bottom: 0; }
    .odu_toolboxList li:first-child {
      padding-top: 10px; }
    .odu_toolboxList li a {
      display: block;
      width: 100%;
      color: #7d7d7d;
      background: none;
      margin: 0; }
      .odu_toolboxList li a span {
        font-size: .8rem;
        display: block;
        line-height: .8rem; }
      .odu_toolboxList li a:hover, .odu_toolboxList li a:visited:hover {
        color: #003767;
        background: white; }

.odu_contentSection {
  width: 940px;
  float: right;
  margin: 0;
  padding: 0;
  border-left: 2px solid #7d7d7d;
  min-height: 600px; }

.odu_contentWrapper {
  padding: 1rem; }

.odu_content p a {
  text-decoration: underline; }

.higherBreadCrumbWrapper {
  width: 100%;
  padding-top: 0;
  background: #fafafa; }

.higherBreadcrumbs {
  width: 1000px;
  margin: 0 auto; }

.odu_toolboxIcon {
  font-size: 2rem;
  text-align: center; }

.odu_iconHelp {
  background: #f58220;
  position: fixed;
  left: 0;
  top: 100px;
  height: 35px;
  width: 35px;
  z-index: 6000;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center center;
  background-image: url("images/helpCircle.svg"); }
  .odu_iconHelp:hover {
    background-image: url("images/helpCircleHover.svg"); }

.odu_iconPrint {
  background: #2b3990;
  position: fixed;
  left: 0;
  top: 140px;
  height: 35px;
  width: 35px;
  z-index: 6000;
  background-repeat: no-repeat;
  background-size: 30px 30px;
  background-position: center center;
  background-image: url("images/printer.svg"); }
  .odu_iconPrint:hover {
    background-image: url("images/printerHover.svg"); }

.odu_checkmark {
  font-family: ple-awesome;
  font-size: 2.4rem;
  content: "q";
  color: #c8c8c8;
  width: 50px; }

center,
b {
  color: #be1e2d; }

center::before,
center::after,
b::before,
b::after {
  color: white;
  padding: 0 5px 0 5px;
  background: #be1e2d; }

b::before {
  content: "ILLEGAL HTML TAG <b>"; }

b::after {
  content: "</b>"; }

center::before {
  content: "ILLEGAL HTML TAG <center>"; }

center::after {
  content: "</center>"; }
