html {
  font-size: 87%; }

body {
  font-family: "Open Sans", Georgia;
  color: #141414;
  line-height: 150%;
  margin: 0;
  padding: 0;
  background-color: white; }

h1 {
  font-size: 2.5rem;
  font-weight: 500;
  margin-bottom: 10px; }

h2 {
  font-size: 2rem;
  font-weight: 500;
  margin-bottom: 10px;
  margin-top: 20px; }

h3 {
  font-size: 1.4rem;
  font-weight: 500;
  margin-top: 20px; }

p {
  margin-bottom: 10px; }

a {
  color: #ff0080;
  text-decoration: none;
  -webkit-transition: all 0.25s ease;
          transition: all 0.25s ease; }
  a:hover, a:visited:hover {
    color: #4488f6;
    text-decoration: underline dotted; }
  a:visited {
    color: #ff0080; }

ul {
  list-style-type: disc; }

li {
  margin-left: 10px; }

pre {
  word-wrap: break-word; }

header {
  border-bottom: 1px solid #7d7d7d;
  height: 50px;
  background-color: white; }

.listTopic a, .listSubTopic a, .breadCrumbs a {
  color: #ff0080; }
.listTopic a:hover, .listTopic a:visited:hover, .listSubTopic a:hover, .listSubTopic a:visited:hover, .breadCrumbs a:hover, .breadCrumbs a:visited:hover {
  color: #4488f6; }
.listTopic a:visited, .listSubTopic a:visited, .breadCrumbs a:visited {
  color: #ff0080; }

.breadCrumbWrapper {
  display: inline-block;
  width: 100%; }

.breadCrumbs {
  list-style: none;
  padding-left: 10px; }
  .breadCrumbsa {
    text-decoration: underline; }
  .breadCrumbs > li + li::before {
    content: " > "; }
  .breadCrumbs > li {
    display: inline-block;
    margin-left: 0px; }

.moduleProgress {
  padding: 0 20px 0 0;
  float: right; }

.expandCollapseAllWrapper {
  text-align: right;
  display: block;
  width: 100%;
  font-size: .8rem; }

.column50Percent {
  width: 49.5%;
  padding: 0;
  margin: 0;
  vertical-align: top;
  display: inline-block; }

.courseTitle {
  padding-left: 10px;
  color: #141414;
  display: inline-block; }

.top {
  position: fixed;
  width: 100%;
  background-color: white;
  top: 0;
  left: 0;
  height: 135px;
  vertical-align: top;
  z-index: 900;
  border-bottom: 1px solid black; }
  .topContent {
    width: 1200px;
    margin-left: auto;
    margin-right: auto;
    text-align: right;
    height: 100%; }
  .top.dash {
    height: 150px;
    background-color: #4488f6; }
  .topLowerButton {
    display: inline-block;
    border: 1px solid black;
    padding: 0 10px 0 10px;
    margin: 0 3px 0 3px;
    background-color: white; }
    .topLowerButtonGroup {
      margin-top: 10px;
      display: inline-block; }
  .topTitleWrapper {
    display: block;
    text-align: left;
    margin-left: 150px; }
    .topTitleWrapper.dash {
      margin-top: 30px; }
    .topTitleWrapper h1 {
      color: white; }
      .topTitleWrapper h1 a {
        color: white; }
        .topTitleWrapper h1 a:hover {
          color: white; }
  .topUpperButton {
    background-color: white;
    display: inline;
    border: 1px solid black;
    padding: 0 3px 0 3px;
    margin: 3px;
    height: 50px; }
    .topUpperButtonGroup {
      position: relative;
      top: 0;
      left: 0;
      display: inline-block;
      padding: 0;
      margin: 0; }
  .topWrapper {
    width: 100%;
    background-color: #4488f6;
    padding: 0;
    margin: 0;
    height: 110px; }

.pleLogo {
  background-image: url("../images/pleLogo.svg");
  background-color: white;
  background-repeat: no-repeat;
  padding: 3px;
  height: 50px;
  width: 50px;
  display: inline-block;
  float: left;
  margin: 10px; }
  .pleLogo.dash {
    height: 100px;
    width: 100px;
    margin-left: 20px; }

.iconRating {
  background-image: url("../images/starRating.svg");
  background-color: white;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  padding: 2px;
  border: 1px solid black;
  background-size: 25px 25px;
  display: block; }

.iconAaq {
  background-image: url("../images/userAskingAQuestion.svg");
  background-color: white;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  padding-top: 1px;
  padding: 2px;
  border: 1px solid black;
  background-size: 25px 25px;
  margin-top: 20px;
  display: block; }

.rating {
  unicode-bidi: bidi-override;
  direction: rtl;
  text-align: center; }

.rating > span {
  display: inline-block;
  position: relative;
  width: 1.1em; }

.rating > span:hover,
.rating > span:hover ~ span {
  color: transparent; }

.rating > span:hover:before,
.rating > span:hover ~ span:before {
  content: "\2605";
  position: absolute;
  left: 0;
  color: gold; }

nav {
  display: inline-block;
  width: 100%; }

.moduleProgressWrapper {
  width: 110px;
  margin-right: 20px;
  float: right; }

.moduleProgressTitle {
  font-size: .8rem;
  text-align: center;
  width: 110px; }

#primary_nav_wrap {
  margin: 0;
  text-align: left; }
  #primary_nav_wrap ul {
    list-style: none;
    position: relative;
    float: left;
    margin: 0;
    padding: 0; }
    #primary_nav_wrap ul a {
      display: block;
      color: #141414;
      text-decoration: none; }
    #primary_nav_wrap ul li {
      position: relative;
      float: left;
      margin: 3px;
      padding: 3px;
      border: 1px solid black;
      background-color: white; }
      #primary_nav_wrap ul li:hover {
        background: #fafafa; }
        #primary_nav_wrap ul li:hover > ul {
          display: block; }
    #primary_nav_wrap ul ul {
      display: none;
      position: absolute;
      top: 100%;
      left: 0;
      background: #fff;
      padding: 0;
      border: 1px solid black; }
      #primary_nav_wrap ul ul li {
        float: none;
        width: 100px;
        border: 0; }
      #primary_nav_wrap ul ul a {
        padding: 0px; }

.scheduleWrapper {
  width: 100%;
  height: 800px; }

.toggleBox {
  width: 1100px;
  border: 1px solid #c8c8c8;
  margin: 10px;
  padding: 10px;
  display: inline-block; }
  .toggleBox.collapsed {
    min-height: 30px; }
  .toggleBox.complete {
    background-color: #fafafa; }
    .toggleBox.complete:hover {
      background-color: white; }
  .toggleBox.incomplete {
    background-color: #fafafa 0.5;
    margin-left: 30px; }
    .toggleBox.incomplete:hover {
      background-color: rgba(254, 239, 179, 0.05); }
  .toggleBox a {
    color: #141414; }
    .toggleBox a.boxTitle {
      font-size: 1.4rem; }
  .toggleBox date {
    color: #7d7d7d;
    padding-left: 20px;
    display: inline-block;
    float: right; }

.boxWrapper {
  padding-top: 10px;
  vertical-align: top;
  align: top; }

.inline, .displayInline {
  display: inline; }

.displayInlineBlock {
  display: inline-block; }

.displayBlock {
  display: block; }

.displayNone {
  display: none; }

.blockCheckMark {
  display: inline-block;
  vertical-align: top;
  margin-top: 10px; }

.videoAndTranscriptWrapper {
  margin: auto;
  text-align: center; }

.transcript {
  height: 450px;
  overflow-y: scroll;
  width: 394px;
  text-align: left;
  display: inline-block;
  border: 1px solid #7d7d7d; }

.moduleList, .courseList, .assignmentsList, .whosOnlineList {
  list-style: none; }
  .moduleList a, .courseList a, .assignmentsList a, .whosOnlineList a {
    color: black; }
    .moduleList a:hover, .courseList a:hover, .assignmentsList a:hover, .whosOnlineList a:hover {
      text-decoration: underline;
      color: #4488f6; }
  .moduleList li, .courseList li, .assignmentsList li, .whosOnlineList li {
    padding-top: 3px;
    padding-left: 20px; }
    .moduleList li ul, .courseList li ul, .assignmentsList li ul, .whosOnlineList li ul {
      list-style: none;
      padding-left: 20px; }

.dashboardList li {
  padding-left: 0px; }

.hidden {
  visibility: hidden; }

.floatRight {
  float: right; }

.floatLeft {
  float: left; }

.contentWrapper, .aaqContentWrapper {
  width: 1200px;
  margin-left: auto;
  margin-right: auto;
  background-color: white;
  padding: 0;
  vertical-align: top; }

.indexContentWrapper {
  margin-top: 20px; }

.contentWrapper {
  margin-top: 150px; }

.dashHeader {
  display: inline;
  font-size: 2.5rem;
  border: 1px solid orange;
  font-weight: 600; }
.dashTitle {
  font-size: 1.4rem;
  width: 100%;
  border-bottom: 1px solid black; }
.dashWrapper {
  margin-top: 140px;
  border: 1px solid green; }
.dashLeftCol, .dashCenterCol, .dashRightCol {
  padding: 10px;
  position: relative;
  display: inline-block;
  margin: 0;
  vertical-align: top; }
.dashRightCol {
  width: 15%; }
.dashLeftCol {
  width: 25%; }
.dashCenterCol {
  width: 40%; }

.navWrapper {
  width: 99%;
  height: 100%; }

.navPrevious, .navNext {
  position: fixed;
  vertical-align: middle;
  top: 50%;
  height: 100%; }
  .navPrevious a, .navNext a {
    color: #141414; }
    .navPrevious a:hover, .navNext a:hover {
      color: #ff0080; }

.navPrevious {
  left: 5px; }

.navNext {
  right: 5px; }

#moduleProgressBar {
  background: #c8c8c8 none repeat scroll 0 0;
  border-radius: 5px;
  height: 10px;
  margin: 0;
  padding: 0;
  position: relative;
  border: 0;
  width: 100px; }

.messageBoxSuccess {
  border: 1px solid #00a858;
  background-color: #e7f6ee;
  color: #00a858;
  width: 100%;
  padding-left: 10px;
  margin-top: 20px; }

.urgent {
  color: #e74c3c; }

.success {
  color: #00a858; }

.disabled {
  color: #c8c8c8; }

.liteGray {
  color: #c8c8c8; }

.current {
  color: #4488f6; }

.aaqHeaderLinks {
  list-style: none; }
  .aaqHeaderLinks a {
    text-decoration: underline; }
  .aaqHeaderLinks > li {
    display: inline-block; }
.aaqAnswer {
  border-left: 2px solid black;
  margin-left: 20px;
  padding-left: 10px;
  margin-top: 10px; }
.aaqPostTitle {
  font-weight: 600; }
.aaqPostProperties {
  list-style: none;
  font-size: .8rem; }
  .aaqPostProperties a {
    text-decoration: underline; }
  .aaqPostProperties > li {
    display: inline-block; }
.aaqPostRating {
  padding-left: 20px;
  padding-right: 20px;
  width: 100px; }
.aaqPostEndorsed {
  padding-left: 20px;
  color: #ff0080;
  width: 150px; }
.aaqPostCommentCount {
  padding-left: 20px;
  width: 150px; }
.aaqPoster {
  padding-left: 50px; }
.aaqPostDateTime {
  padding-left: 50px;
  float: right; }
.aaqQuestionAndAnswerWrapper {
  border: 1px solid black;
  padding: 10px;
  margin-top: 10px; }

/*# sourceMappingURL=pleStyle.css.map */