@import "colors";
@import "fonts";



//SIZES
$contentWidth: 1000px;
$navWrapperWidth: 1000px;


//********************************************************************************************
//1. UNIVERSAL
//********************************************************************************************
//none





//********************************************************************************************
//2. DOCUMENT
//********************************************************************************************
//***10-8-2015***
html{
	font-size: 87%;
}





//********************************************************************************************
//3. META DATA
//********************************************************************************************
//none





//********************************************************************************************
//4. SECTIONING AND STRUCTURE
//********************************************************************************************
//***10-8-2015***
body{
	font-family: $font-stack;
	color:	$font-color;
	//border: 1px solid red;
	line-height: 150%;
	margin: 0;
	padding: 0;
	background-color: $googleGray;
}

//header




#nav {
	width:100%; 
    display:block;
    //background-color: $googleBlue;
	//border-bottom:5px solid #2980b9;
	
	ul	{
		padding:5px;
		margin: 0;
		list-style: none;
		position: relative;
		text-align: right;   
		
		&:After {
			content: "";
			display:block;
			clear:both;
		}
		
		li {
			display:list-item;
			list-style: none;
			float:right;
			background-color:$googleBlue;	
			i {
				font-size:25px;
				width:30px;
			}
			a {
				display:block;
				//padding:15px 30px;  
				color:#FFF;
				text-decoration:none;
				text-align:center;
				
				&:hover { 
					background-color: $liteGoogleBlue; 
				}
			}
			&:hover > ul {
				display: list-item;
			}
		}
		
		 ul {
			display: none;
			position: absolute; top: 20px;
			li {
				width:150px;
				float:none;
				position: relative;
				border-bottom:none;
				
				a {
					//padding:15px 20px;
					padding-left: 10px;
					text-align:left;  
				}
			}
		}
	}
}




//***10-8-2015***
p{
	margin-bottom: 10px;
}

//main
//article
//aside
//section
//pre
//blockquote
//figure
//figcaption
//address
//summary
//details


//********************************************************************************************
//5. HEADINGS
//********************************************************************************************


//***10-8-2015***
h1{
	font-size: 2.5rem;
	font-weight: 500;
	margin-bottom: 10px;
}

//***11-9-2015***
h2{
	font-size: 2rem;
	font-weight: 500;
	margin-bottom: 10px;
}

//?
h3{
	font-size: 1.4rem;
	font-weight: 500;
	margin-top: 20px;		
}

//hgrroup
//h4
//h5
//h6

//********************************************************************************************
//6. LISTS
//********************************************************************************************
//***10/12/2015***
ul{
	list-style-type:disc;
}

//***10/12/2015***
li{
	margin-left: 10px;	
}

//ol
//dl
//dt
//dd
//menu
//menuitem


//********************************************************************************************
//7. MEDIA
//********************************************************************************************
//canvas
//object
//embed
//img
//audio
//video
//track
//map
//area
//iframe


//********************************************************************************************
//8. FORMS
//********************************************************************************************
//form
//fieldset
//legend
//label
//input
//button
//select
//optgroup
//option
//datalist
//textarea
//output




//********************************************************************************************
//9. TABLES
//********************************************************************************************
//table
//caption
//colgroup
//col
//thead
//tfoot
//tbody
//tr
//th
//td


//********************************************************************************************
//10. PHRASING
//********************************************************************************************
//***?***
a{	color: $link-color;
	text-decoration: none;
	transition: all 0.25s ease;

	&:hover, &:visited:hover{
		color: $link-color-hover;
		text-decoration: underline dotted;
	}
	
	&:visited{
		color: $link-color-visited;
	}
}

//strong
//em
//b
//i
//u
//s
//sup
//sub
//small
//abbr
//dfn
//mark
//del
//ins
//q
//cite
//data
//progress
//time
//meter
//code
//var
//samp
//kbd
//keygen
//bdi
//bdo
//ruby
//rt
//rp
//span

//********************************************************************************************
//11. MISC
//********************************************************************************************
//hr
//br


//********************************************************************************************
//12. ATTRIBUTES
//********************************************************************************************
.boxWrapper{
	padding-top: 10px;
	vertical-align: top;
	align:top;
}

.blockCheckMark{
	display: inline-block;
	vertical-align: top;
	margin-top: 10px;
}



//***11-09-2015***
.contentWrapper{
	width: $contentWidth;
	margin:0 auto;
	background-color: $contentBackgroundColor;
	box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.26);
	margin-top: 120px;
}


.expandCollapseAllWrapper{
	text-align: right;
	display:block;
	width: 100%;
	font-size: .8rem;
}

.listTopic, .listSubTopic, .breadCrumbs //topics and subtopic list are the same for now
{
	a{ 
		color: $link-color;
	}
	 
	a:hover, a:visited:hover{
		color: $link-color-hover;
	}		
	
	a:visited{
		color: $link-color-visited;
	}

}

//***10-7-2015***
.moduleList{
	list-style: none;
	& a {
		color:black;
		
		&:hover{
			text-decoration:underline;
			color: $googleBlue;
		}
	}
	& li{
		padding-top: 3px;
		padding-left: 20px;
		& ul {
			list-style: none;
			padding-left: 20px;
		}
	}
}



//***10-12-2015***
.pleLogo{
	background-image: url("../images/pleLogo.svg");
	background-color: white;
	background-repeat: no-repeat;
	background-size: 75px 75px;
	padding: 3px;
	height: 75px;
	width: 75px;
	display:inline-block;
	float: left;
	margin: 0 10px 0 10px;
}

.oduOnlineLogo{
	background-image: url("../images/oduOnlineLogo.svg");
	background-color: white;
	background-repeat: no-repeat;
	background-size: 140px 75px;
	padding: 3px;
	height: 75px;
	width: 140px;
	display:inline-block;
	float: left;
	margin: 0 10px 0 10px;
	//border: 1px solid red;
}


//***10-8-2015***
.top{
	position:fixed;
	width:100%;
	background-color: white;
	top: 0;
	left: 0;
	height: 95px;
	vertical-align: top;
	//border: 1px solid black;
	z-index: 900;
	border-bottom: 10px solid $monarchBlue;
	//border-top: 30px solid rgba(23,119,167, 1);
	box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.26);
	
	
	h1{
		display: inline-block;
		margin-top: 25px;
		a{
			color: $darkGray;
			&:hover{
				color: $googleBlue;
				text-decoration: underline;
			}
		}
	}
	
	h2{
		margin: 0;
		padding: 0;
		display: block;
		font-size: 1rem;
		color: $darkGray;
		
		a{
			color: $darkGray;
			&:hover{
				color: $googleBlue;
				text-decoration: underline;
			}
		}
		
	}
	
	&Wrapper{
		width: $contentWidth;
		//background-color: white;
		//border-bottom: 5px solid $liteGoogleBlue;
		padding: 0;
		//margin-top: -30px;
		//height: 110px;
		//margin-left: auto;
		//margin-right:auto;
		margin: -30px auto 0 auto;
		
	}
	
}




























//*****************************************************************************
//One hit wonders
//*****************************************************************************
//10/15/2015
.urgent{
	color: $urgent;
}

//10/15/2015
.success{
	color: $success;
}

.disabled{
	color: $disabled;
}

.liteGray{
	color: $liteGray;
}

.current{
	color: $googleBlue;
}

//10/15/2015
.hidden{
	visibility: hidden;
}

//?
.inline, .displayInline{
	display: inline;
}

//?
.displayInlineBlock{
	display: inline-block;
}

//?
.displayBlock{
	display: block;
}

//?
.displayNone{
	display: none;
}

.floatRight{
	float: right;
}

.floatLeft{
	float: left;
}








