/* tables */
$googleBlue:rgba(68,136,246,1);
$xLiteBlue: rgba(68,136,246,.2);
$liteGray: rgba(200, 200, 200, 1);

table.tablesorter {
	margin:10px 0pt 15px;
	width: 100%;
	text-align: left;
	border: 1px solid $liteGray;
	
	& a {
		color: black;
	}
}
table.tablesorter thead tr th, table.tablesorter tfoot tr th {
	background-color: $googleBlue;
	color: white;
	padding-left: 10px;
}
table.tablesorter thead tr .header {
	background-repeat: no-repeat;
	background-position: center right;
	cursor: pointer;
}
table.tablesorter tbody td {
	padding: 4px;
	background-color: #FFF;
	vertical-align: top;
}
table.tablesorter thead tr .headerSortUp {
	background-image: url(../images/asc.gif);
}
table.tablesorter thead tr .headerSortDown {
	background-image: url(../images/desc.gif);
}
table.tablesorter thead tr .headerSortDown, table.tablesorter thead tr .headerSortUp {
	background-color: $xLiteBlue;
	color: black;
}
