html {
  font-size: 82%; }

body {
  font-family: "Open-Sans", sans-serif;
  color: #141414;
  font-size: 1rem;
  margin: 0;
  padding: 0;
  border-top: 10px solid #003767; }

a {
  color: #ff0080;
  text-decoration: none;
  transition: all 0.5s ease; }
  a:hover, a:visited:hover {
    color: #083657;
    text-decoration: underline dotted; }
  a:visited {
    color: #ff0080; }

pre {
  word-wrap: break-word; }

header {
  border-bottom: 1px solid #7d7d7d;
  height: 50px; }

.listTopic a, .listSubTopic a, .breadCrumbs a {
  color: #1778a9; }
.listTopic a:hover, .listTopic a:visited:hover, .listSubTopic a:hover, .listSubTopic a:visited:hover, .breadCrumbs a:hover, .breadCrumbs a:visited:hover {
  color: #062c8c; }
.listTopic a:visited, .listSubTopic a:visited, .breadCrumbs a:visited {
  color: #8349ff; }

.urgent {
  color: #e74c3c; }

.success {
  color: #2ECC71; }

.disabled {
  color: #c8c8c8; }

.liteGray {
  color: #c8c8c8; }

.breadCrumbs {
  list-style: none;
  padding-left: 10px; }
  .breadCrumbsa {
    text-decoration: underline; }
  .breadCrumbs > li + li::before {
    content: " > "; }
  .breadCrumbs > li {
    display: inline-block; }

.oduIcon {
  display: inline-block; }

.moduleProgress {
  padding: 0 20px 0 0;
  border: 1px solid green;
  float: right; }

.contentWrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.column50Percent {
  width: 49.5%;
  padding: 0;
  margin: 0;
  vertical-align: top;
  display: inline-block; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  margin: 0; }

.contentTitle, .paragraphTitle {
  margin-top: 20px; }

.courseTitle {
  padding-left: 10px;
  color: #141414;
  display: inline-block; }

.navPrevious, .navNext {
  position: fixed;
  vertical-align: middle;
  top: 50%; }
  .navPrevious a, .navNext a {
    color: #141414; }
  .navPrevious a:hover, .navNext a:hover {
    color: #ff0080; }

.navPrevious {
  left: 5px; }

.navNext {
  right: 5px; }

.navWrapper {
  width: 99%;
  height: 100%; }

.moduleProgressBar {
  border: none;
  width: 100px;
  height: 15px;
  margin: 50px auto;
  background-color: #c8c8c8;
  border: 1px solid orange;
  display: block;
  -webkit-appearance: none; }
  .moduleProgressBar::webkit-progress-bar {
    background: black;
    border-radius: 50px;
    padding: 2px;
    box-shadow: 0 1px 0px 0 rgba(255, 255, 255, 0.2); }
    .moduleProgressBar::webkit-progress-bar-value {
      border-radius: 50px;
      box-shadow: inset 0 1px 1px 0 rgba(255, 255, 255, 0.4);
      background: -webkit-linear-gradient(45deg, transparent, transparent 33%, rgba(0, 0, 0, 0.1) 33%, rgba(0, 0, 0, 0.1) 66%, transparent 66%), -webkit-linear-gradient(top, rgba(255, 255, 255, 0.25), rgba(0, 0, 0, 0.2)), -webkit-linear-gradient(left, #ba7448, #c4672d);
      /* Looks great, now animating it */
      background-size: 25px 14px, 100% 100%, 100% 100%;
      -webkit-animation: move 5s linear 0 infinite; }

@-webkit-keyframes move {
  0% {
    background-position: 0px 0px, 0 0, 0 0; }
  100% {
    background-position: -100px 0px, 0 0, 0 0; } }
.moduleProgressWrapper {
  border: 1px solid green;
  width: 110px;
  margin-right: 20px;
  float: right; }

.moduleProgressTitle {
  font-size: .8rem;
  border: 1px solid red;
  text-align: center;
  width: 110px; }

/*.oduIcon{
	background-image: url("../images/oduOnlineLogo.png");
	background-repeat: no-repeat;
	background-size: 165px  62px;
	height: 62px;
	width: 165px;
	vertical-align: bottom;
}
*/
.searchWrapper {
  display: inline-block;
  padding: 0 20px 0 20px; }

#search {
  background-image: url("../images/style1/search.svg");
  background-size: 20px 20px;
  background-repeat: no-repeat;
  background-position: calc(100% - 5px);
  fill: #c8c8c8;
  height: 25px;
  width: 200px;
  margin: 5px 10px 0 10px;
  padding: 0 25px 0 5px;
  border: 1px solid #141414; }

.topLeftWrapper {
  display: inline-block;
  margin-left: 10px; }

.topRightWrapper {
  display: inline-block;
  float: right;
  position: relative;
  top: 3px;
  right: 10px;
  text-align: right;
  vertical-align: top;
  margin-right: 10px; }

.headIcon {
  padding: 0 7px 0 7px;
  display: inline-block;
  font-size: 1.5rem;
  vertical-align: bottom;
  color: #c8c8c8; }
  .headIcon:hover {
    color: #083657; }

#courseMenu {
  padding: 0;
  margin: 0;
  border: 0; }
  #courseMenu ul, #courseMenu ul li, #courseMenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0; }
  #courseMenu ul {
    position: relative;
    z-index: 397;
    width: 35px;
    background: white; }
    #courseMenu ul a {
      color: black; }
      #courseMenu ul a:visited {
        color: black;
        text-decoration: none; }
      #courseMenu ul a:hover {
        color: #083657; }
      #courseMenu ul a:active {
        color: black; }
    #courseMenu ul li {
      min-height: 1px;
      line-height: 1em;
      vertical-align: middle;
      padding: 7px 10px;
      color: #000; }
      #courseMenu ul li:hover {
        position: relative;
        z-index: 399;
        cursor: default;
        background: #fafafa;
        color: black; }
        #courseMenu ul li:hover > ul {
          visibility: visible; }
    #courseMenu ul ul {
      visibility: hidden;
      position: absolute;
      top: 10px;
      left: 99%;
      z-index: 398;
      width: 100px;
      border: 1px solid #c8c8c8;
      margin-left: 25px; }

.clearHover:hover {
  background-color: white !important; }

.courseMenuIcon {
  padding: 0;
  background-size: 50px 50px;
  background-repeat: no-repeat;
  display: inline-block;
  height: 50px;
  width: 50px;
  vertical-align: bottom;
  background-image: url("../images/style1/courseMenu.svg"); }

.lhsMenuWrapper {
  display: inline;
  position: absolute; }

.toggleBox {
  width: 900px;
  border: 1px solid #c8c8c8;
  margin: 10px;
  padding: 10px;
  display: inline-block; }
  .toggleBox.collapsed {
    min-height: 30px; }
  .toggleBox.complete {
    background-color: #fafafa; }
    .toggleBox.complete:hover {
      background-color: rgba(254, 239, 179, 0.05); }
  .toggleBox.incomplete {
    background-color: #fafafa 0.5;
    margin-left: 30px; }
    .toggleBox.incomplete:hover {
      background-color: rgba(254, 239, 179, 0.05); }
  .toggleBox a {
    color: #141414; }
    .toggleBox a.boxTitle {
      font-size: 1.4rem; }

.boxWrapper {
  padding-top: 20px; }

.inline {
  display: inline; }

.videoAndTranscriptWrapper {
  margin: auto;
  text-align: center; }

.transcript {
  height: 450px;
  overflow-y: scroll;
  width: 394px;
  text-align: left;
  display: inline-block;
  border: 1px solid #7d7d7d; }

.cssChanger {
  position: fixed;
  bottom: 0;
  right: 0;
  width: 100px;
  border-radius: 2px;
  box-shadow: 0 2px 3px rgba(0, 0, 0, 0.05);
  border: 1px solid #141414;
  padding-left: 10px; }
  .cssChanger ul {
    list-style: none;
    padding: 0; }

.moduleContentList {
  margin-top: 10px;
  list-style: none;
  font-size: 1.1rem; }
  .moduleContentList li {
    padding-top: 3px; }
    .moduleContentList li ul {
      list-style: none; }

time {
  font-size: 1rem; }

.fa-calendar, .fa-check-circle {
  padding-right: 3px; }

.hidden {
  visibility: hidden; }

@media screen and (max-width: 1200px) {
  .contentWrapper {
    width: 800px; } }
@media screen and (max-width: 800px) {
  .contentWrapper {
    width: 600px; } }
@media print {
  nav, #cssMenu, .lhsMenuWrapper, .moduleProgressWrapper,
  .topRightWrapper, .navWrapper {
    display: none; }

  iframe .breadcrumb, iframe #video-container, iframe .container-fluid {
    display: none; } }

/*# sourceMappingURL=style1.css.map */
