fakePlayer/
fonts/
images/style1/courseMenu.svg_
junk/kitten.txt
junk/module0AssignmentList.php
junk/module1AssignmentList.php
junk/module1List.php
junk/moduleXAssignmentList.php
junk/stuff.txt
cat101/whereBuy (2).php
cat101/index.php_
images/Thumbs.db
css/navArrows.css.map
