body  {
	font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;;
	color: rgba(25, 25, 25, 1);
	font-size: 10pt;
}
h1{
	color: rgba(214, 29, 183, 1);
}

table, tr, td
{
	font-size: 8pt;
	border: 1px solid black;
	border-collapse: collapse;
}

th
{
	font-weight: bold;
	background-color: #CCC;
	text-align: left;
}