@import "../configs";


#odu_assignments{
	list-style-type: none !important;
	& li{margin: 0;}
	& p li{
		margin-left: $indent;
	}
	& h2{
		
		//border-top: 1px solid $darkGray;
		color: red;
	}
	
	& h3 {
		font-size: 1.1rem;
		color: green;
		font-weight: 600;
		display: inline-block;
		margin: 0 10px 0 0;
	}
	
	h5{
		color: $darkGray;
		font-size: 0.9rem;
	
	}
	& .odu_assignmentDetails{
		list-style-type: none !important;
		border-bottom: 1px solid red;
		margin-bottom: 20px;
		padding-bottom: 10px;
	}
}

