html {
  font-size: 82%; }

body {
  font-family: "Open-Sans", sans-serif;
  color: #141414;
  font-size: 1rem;
  margin: 0;
  padding: 0; }

a {
  color: #ce3292;
  text-decoration: none; }
  a:hover, a:visited:hover {
    color: #10a0c9;
    text-decoration: underline; }
  a:visited {
    color: #ce3292; }

pre {
  word-wrap: break-word; }

.listTopic a, .listSubTopic a, .breadCrumbs a {
  color: #10a0c9; }
.listTopic a:hover, .listTopic a:visited:hover, .listSubTopic a:hover, .listSubTopic a:visited:hover, .breadCrumbs a:hover, .breadCrumbs a:visited:hover {
  color: #062c8c; }
.listTopic a:visited, .listSubTopic a:visited, .breadCrumbs a:visited {
  color: #ce3292; }

.urgent {
  color: #e74c3c; }

.success {
  color: #2ECC71; }

.disabled {
  color: #c8c8c8; }

.liteGray {
  color: #c8c8c8; }

.breadCrumbs {
  list-style: none;
  padding-left: 10px; }
  .breadCrumbsa {
    text-decoration: underline; }
  .breadCrumbs > li + li::before {
    content: " > "; }
  .breadCrumbs > li {
    display: inline-block; }

.oduIcon {
  display: inline-block; }

.courseTitle {
  display: inline-block; }

.moduleProgress {
  padding: 0 20px 0 0;
  border: 1px solid green;
  float: right; }

.contentWrapper {
  width: 1000px;
  margin-left: auto;
  margin-right: auto; }

.column50Percent {
  width: 49.5%;
  padding: 0;
  margin: 0;
  vertical-align: top;
  display: inline-block; }

h1, h2, h3, h4, h5, h6, p {
  padding: 0;
  margin: 0;
  margin: 0; }

.contentTitle, .paragraphTitle {
  margin-top: 20px; }

.courseTitle {
  padding-left: 10px;
  color: #062c8c; }

.navPrevious, .navNext {
  position: fixed;
  vertical-align: middle;
  top: 50%; }
  .navPrevious a, .navNext a {
    color: #141414; }
  .navPrevious a:hover, .navNext a:hover {
    color: #ce3292; }

.navPrevious {
  left: 5px; }

.navNext {
  right: 5px; }

.navWrapper {
  width: 99%;
  height: 100%; }

.moduleProgressBar {
  border: none;
  width: 100px;
  height: 20px;
  background-color: #c8c8c8;
  border: 1px solid orange;
  display: block; }

.moduleProgressWrapper {
  border: 1px solid green;
  width: 110px;
  margin-right: 20px;
  float: right; }

.moduleProgressTitle {
  font-size: .8rem;
  border: 1px solid red;
  text-align: center;
  width: 110px; }

.oduIcon {
  background-image: url("../images/oduOnlineLogo.png");
  background-repeat: no-repeat;
  background-size: 165px  62px;
  height: 62px;
  width: 165px;
  vertical-align: bottom; }

.searchWrapper {
  display: inline-block;
  padding: 0 20px 0 20px; }

#search {
  background-image: url("../images/search.svg");
  background-size: 15px 15px;
  background-repeat: no-repeat;
  background-position: right;
  height: 25px;
  width: 200px;
  margin: 0 10px 0 10px;
  padding: 0 25px 0 5px;
  border: 1px solid #141414; }

.topRightWrapper {
  display: inline-block;
  float: right;
  position: relative;
  top: 30px;
  right: 10px;
  text-align: right; }

.iconNotification, .iconUser {
  padding: 0 10px 0 10px; }

.listCourseInfoMenu {
  list-style: none;
  padding: 0 0 0 5px; }

.courseInfoMenu {
  /*&Icon{
  	background-image: url("../images/information.svg");
  	background-size: 25px 25px;
  	background-repeat: no-repeat;
  	background-position: right top;
  	height: 25px;
  	width: 25px;
  	margin-left: auto;
  	display:block;
  }
  
  /*&Wrapper{
  	background-color: $liteGray;
  	width: 30px;
  	margin: 10px 10px 10px 0;
  	padding: 3px;
  	//border: 1px solid green;
  	border: 1px solid $mediumGray;
  	border-left: 0;
  	
  	&:hover{
  		background-color: $xLiteGray;
  	}		
  }
  */ }

.iconCourseInfo, .iconHelp, .iconUpcoming {
  display: block;
  background-size: 25px 25px;
  background-repeat: no-repeat;
  height: 25px;
  width: 25px;
  padding: 0; }

.iconCourseInfo {
  background-image: url("../images/information.svg"); }

.iconHelp {
  background-image: url("../images/help.svg"); }

.iconUpcoming {
  background-image: url("../images/alarmClock.svg"); }

/* Base CSS */
#cssmenu {
  padding: 0;
  margin: 0;
  border: 0; }
  #cssmenu ul, #cssmenu ul li, #cssmenu ul ul {
    list-style: none;
    margin: 0;
    padding: 0;
    border: 0; }
  #cssmenu ul {
    position: relative;
    z-index: 397;
    width: 35px;
    background: white; }
    #cssmenu ul a {
      color: black; }
      #cssmenu ul a:visited {
        color: #000;
        text-decoration: none; }
      #cssmenu ul a:hover {
        color: #000; }
      #cssmenu ul a:active {
        color: #ffa500; }
    #cssmenu ul li {
      min-height: 1px;
      line-height: 1em;
      vertical-align: middle;
      padding: 7px 10px;
      color: #000; }
      #cssmenu ul li:hover {
        position: relative;
        z-index: 399;
        cursor: default;
        background: #fafafa;
        color: black; }
        #cssmenu ul li:hover > ul {
          visibility: visible; }
    #cssmenu ul ul {
      visibility: hidden;
      position: absolute;
      top: 0px;
      left: 99%;
      z-index: 398;
      width: 200px;
      border: 1px solid #c8c8c8; }

/*
#cssmenu ul,
#cssmenu ul li,
#cssmenu ul ul {list-style: none; margin: 0; padding: 0; border: 0;}
#cssmenu ul {position: relative; z-index: 397;}
#cssmenu ul li {min-height: 1px; line-height: 1em; vertical-align: middle;}
#cssmenu ul li:hover {position: relative; z-index: 399; cursor: default;}
#cssmenu ul ul {visibility: hidden; position: absolute; top: 100%; left: 0; z-index: 398; width: 100%;}
#cssmenu ul li:hover > ul { visibility: visible;}
#cssmenu ul ul {top: 0px; left: 99%;}

/* Custom CSS Styles */
/*
#cssmenu ul {width: 35px; background: white;}
#cssmenu ul ul {width: 200px; border: 1px solid $liteGray;}
#cssmenu ul li {padding: 7px 10px; color: #000;}
#cssmenu ul li.hover,
#cssmenu ul li:hover {background: $xLiteGray; color: black;}
#cssmenu ul a:link,
#cssmenu ul a:visited {color: #000; text-decoration: none;}
#cssmenu ul a:hover {color: #000;}
#cssmenu ul a:active {color: #ffa500;}
*/
.lhsMenuWrapper {
  display: inline;
  position: absolute; }

.unitBox {
  width: 900px;
  border: 1px solid #c8c8c8;
  margin: 10px;
  padding: 10px;
  display: inline-block; }
  .unitBox.collapsed {
    height: 30px; }
  .unitBox.expanded {
    height: 100px; }
  .unitBox.complete {
    background-color: #fafafa; }
  .unitBox.incomplete {
    background-color: white;
    margin-left: 30px; }

.boxWrapper {
  padding-top: 20px; }

.inline {
  display: inline; }

@media print {
  nav, #cssMenu, .lhsMenuWrapper, .moduleProgressWrapper,
  .topRightWrapper, .navWrapper {
    display: none; }

  iframe .breadcrumb, iframe #video-container, iframe .container-fluid {
    display: none; } }

/*# sourceMappingURL=likeFutureLearn.css.map */
