@import "../configs";

#moduleList{
	min-height: 500px;
	margin: 0 0 20px 0;

	a{
		color: $googleBlue;

		&:hover { //#moduleList a:hover
			background-color: $liteGray; 
			text-decoration: underline;
		} 
	}
	
	h1, h2, h3{
		color: black;
		display: inline;
	}
	
	
	h1{
		font-size: 1.25rem;
		margin-top: 25px;
	}
		
	h2{
		font-size: 1.1rem;
	}

	h3{
		font-size: 1rem !important;
		color: $googleBlue;
	}
	
	ul, li {
		list-style: none;
		margin:0;
		padding:0;
		cursor: pointer;
	}
	
	li {
		line-height:180%;
		text-indent:0px;
		margin-left: 1.5rem;
		
		&.level1{
			margin-left: 0 !important;
		}
		&:hover { //#moduleList li:hover
			background: $xLiteGray;
		}
	}

	.noChildren{
		padding-left: 3.1rem;
		&:hover {
			background: white !important;
			cursor: default;
		}
	}
	.noUrl{
		cursor: pointer !important;
	}
	.notHighlighted{
		background: white !important;	//TODO: var for container bkg
	}
	
	//collapse & expand
	.collapsed,
	.expanded{
		
		& > a { //#moduleList .expanded > a
			padding-left: 2px;
		}
	
		&::before{	//#moduleList .collapsed::before and #moduleList .expanded::before
			font-family: fontAwesome;
			font-size: 1.5rem;
			color: $odu_briteBlue;
			margin-left: .5rem;
			padding-right: .5rem;
		}		
	}
	.collapsed{
		&::before{
			content: "\f0da";
			margin-left: 2rem;
		}
	}
	.expanded{
		&::before{
			content: "\f0d7";		
		}
	}
	
}

.odu_listControl{
	text-align: right;
	cursor: pointer;
	& li{
		list-style-type: none;
		display: inline;
		color: $linkColor;
		margin-left: 10px;
		&:hover{
			color: $linkColorHover;
		}
		&:last-child{
			padding-right: 5px;
		}
	}
}
