@import "../colors";
@import "../fonts";
@import "../sizes";


#odu_upEvents{
	font-size: .9rem;
	line-height: 130%;
	padding: 1rem;
	list-style-type: none !important;		
	
	& li{
		margin-left: 0; //margin taken care of with container
		margin-top: 10px;
		border-bottom: 1px solid $darkGray;
		
		&:first-child{
			margin-top: 0;
		}
		
		&:last-child{
			border-bottom: 0;

			& p {
				margin-bottom: 0;
			
			}
		}
	
	}

	.odu_upEvent{
		.dateBox{
			border: 1px solid $darkGray;
			width: 4rem;
			text-align: center;
			float: left;
			margin-right: 1rem;
			margin-bottom: .5rem;
			
		}
		
		.dateBoxMonth{
			background: $mediumGray;
			color: white;
			font-size: .7rem;
		}

		.dateBoxDay{
			font-size: 2rem;
			padding-top: .25rem;
			padding-bottom: .25rem;
		}
		.dateBoxTime{
			font-size: .8rem;
		}
		
		& h1 {
			font-size: 1.2rem;
			//padding-bottom: 0;
			margin-bottom: .5rem;
			//font-weight: 600;
		}
		
		& a{
			padding-left: .25rem;
		}
	}

}
