@import "../configs";

.moduleSmallEvent{
	background: $liteGray;
	height: 3px;
}

.assignmentSmallEvent{
	background: $odu_green;
	height: 5px;
}
.moduleSmallEvent,
.assignmentSmallEvent{
	border: 0;
	border-radius: 0;
}

#noEvents{
	border: 1px solid black;
	color: $darkGray;
	background-color: $liteYellow;
	margin-left: auto;
	margin-right: auto;
	margin-top: 20px;
	margin-bottom: 20px;
	padding: 10px;
	display: block;
	width: 83%;
}

//__CALENDAR MODAL_____________________________________________________________

//not used yet 6/13
.assignmentIcon {
  	background-image: url("../images/clipboard.svg");
  	background-color: white;
  	background-repeat: no-repeat;
  	padding: 3px;
	display: inline-block; 
	background-size: 45px 45px;
	height: 45px;
  	width: 45px;
  	float: left;
  	margin: 0 5px 200px 0; 
}

//not used yet 6/13
.smallAssignmentIcon{
	background-image: url("../images/clipboardColo.svg");
	background-color: rgba(68,136,246,1);
	background-repeat: no-repeat;
	padding: 3px;
	display: inline-block; 
	backgroundSize: 25px 20px;
	height: 20px;
	width: 20px;
	margin: 0;
}

.assignmentProperties {
  list-style-type: none;
  margin: 10px 0 10px 0; 
}

#dueHeader, #submitViaHeader, #deliverableHeader {
  font-weight: 600;
  margin-right: 3px;
  display: inline-block; 
}

#due, #submitVia, #deliverable {
  display: inline-block; 
}

#description {
	border-top: 1px solid $liteGray;
	margin: 10px 45px 15px 15px;
	padding-top: 10px;
	height: 230px;
	overflow-y: hidden;
}

#odu_popUpContent{ 
	z-index: 9999; 
	background: $popUpBackground;
	overflow-y: hidden;
	margin-bottom: 10px;
}

#moreLink{
	color: $monarchBlue;
	float: right;
	margin-right: 45px;
	&:hover{
		color: $hotPink;
	} 

}

#odu_popUpContentWrapper {
  height: 400px;
  overflow-y: hidden;
}
  
  
//__PAGE LAYOUT________________________________________________________________

#odu_smallCalendar{
	width: 300px !important;
	overflow-x: hidden;
	padding: 0 10px 10px 10px;
}
#odu_smallCalendar .fc-toolbar{
	margin: 0;
}

#odu_smallCalendar .fc-row .ui-widget-header{
	background: $mediumGray;
}

#odu_smallCalendar .fc-title{
	//color: orange;
	font-size: 0rem;
}

#odu_smallCalendar .fc-content{
	//height: 2px;
}

#odu_smallCalendar .fc-week //,
//#odu_smallCalendar .fc-row
{
	max-height: 5px;
}

#odu_smallCalendar h2 {
	font-size: 1.2rem !important;
	margin: 0 !important;
}

#odu_smallCalendar .fc-toolbar button{
	border: 0;
}


#odu_smallCalendar table{
	font-size: .8rem !important;
	line-height: 120%;
}


#odu_smallCalendar .fc-time{
	display: none;
} 

#odu_smallCalendar .fc-day-number{
	font-size: .7rem;
}

.odu_smallCalendarNumber{
	font-size: .7rem !important;
}

.fc-center h2{
	font-size: 1.4em !important;
	margin-left: 100px !important;
	font-family: $font-stack !important;
 }

 .fc-view-container{
	border-bottom: 1px solid $liteGray !important;
 }

.ui-icon-odu_left-chevron,
.ui-icon-odu_right-chevron
{
	background-repeat: no-repeat;
	background-size: 15px 15px;
	height: 15px;
	width: 15px;
}
.ui-icon-odu_left-chevron
{
	background-image: url("../images/leftChevron.svg") !important;
}

.ui-icon-odu_right-chevron{
	background-image: url("../images/rightChevron.svg") !important;
}

.ui-state-default{
	border: 1px solid $calendarMediumGray;
}
.ui-state-active{
	border: 1px solid black;
}

.fc-today{
	background: red;

}
 