.moduleSmallEvent {
  background: #c8c8c8;
  height: 3px; }

.assignmentSmallEvent {
  background: #3bb60b;
  height: 5px; }

.moduleSmallEvent,
.assignmentSmallEvent {
  border: 0;
  border-radius: 0; }

#noEvents {
  border: 1px solid black;
  color: #505050;
  background-color: #fffdd9;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 10px;
  display: block;
  width: 83%; }

.assignmentIcon {
  background-image: url("../images/clipboard.svg");
  background-color: white;
  background-repeat: no-repeat;
  padding: 3px;
  display: inline-block;
  background-size: 45px 45px;
  height: 45px;
  width: 45px;
  float: left;
  margin: 0 5px 200px 0; }

.smallAssignmentIcon {
  background-image: url("../images/clipboardColo.svg");
  background-color: #4488f6;
  background-repeat: no-repeat;
  padding: 3px;
  display: inline-block;
  backgroundSize: 25px 20px;
  height: 20px;
  width: 20px;
  margin: 0; }

.assignmentProperties {
  list-style-type: none;
  margin: 10px 0 10px 0; }

#dueHeader, #submitViaHeader, #deliverableHeader {
  font-weight: 600;
  margin-right: 3px;
  display: inline-block; }

#due, #submitVia, #deliverable {
  display: inline-block; }

#description {
  border-top: 1px solid #c8c8c8;
  margin: 10px 45px 15px 15px;
  padding-top: 10px;
  height: 230px;
  overflow-y: hidden; }

#odu_popUpContent {
  z-index: 9999;
  background: white;
  overflow-y: hidden;
  margin-bottom: 10px; }

#moreLink {
  color: #003767;
  float: right;
  margin-right: 45px; }
  #moreLink:hover {
    color: #ff0080; }

#odu_popUpContentWrapper {
  height: 400px;
  overflow-y: hidden; }

#odu_smallCalendar {
  width: 300px !important;
  overflow-x: hidden;
  padding: 0 10px 10px 10px; }

#odu_smallCalendar .fc-toolbar {
  margin: 0; }

#odu_smallCalendar .fc-row .ui-widget-header {
  background: #7d7d7d; }

#odu_smallCalendar .fc-title {
  font-size: 0rem; }

#odu_smallCalendar .fc-week {
  max-height: 5px; }

#odu_smallCalendar h2 {
  font-size: 1.2rem !important;
  margin: 0 !important; }

#odu_smallCalendar .fc-toolbar button {
  border: 0; }

#odu_smallCalendar table {
  font-size: .8rem !important;
  line-height: 120%; }

#odu_smallCalendar .fc-time {
  display: none; }

#odu_smallCalendar .fc-day-number {
  font-size: .7rem; }

.odu_smallCalendarNumber {
  font-size: .7rem !important; }

.fc-center h2 {
  font-size: 1.4em !important;
  margin-left: 100px !important;
  font-family: "Open Sans", Georgia !important; }

.fc-view-container {
  border-bottom: 1px solid #c8c8c8 !important; }

.ui-icon-odu_left-chevron,
.ui-icon-odu_right-chevron {
  background-repeat: no-repeat;
  background-size: 15px 15px;
  height: 15px;
  width: 15px; }

.ui-icon-odu_left-chevron {
  background-image: url("../images/leftChevron.svg") !important; }

.ui-icon-odu_right-chevron {
  background-image: url("../images/rightChevron.svg") !important; }

.ui-state-default {
  border: 1px solid #aaaaaa; }

.ui-state-active {
  border: 1px solid black; }

.fc-today {
  background: red; }

/*# sourceMappingURL=odu_calendar.css.map */
